[2018-03-19 15:03] SWarnberg opened #1 "Profiler not enabled in Azure"
As simple as this seems, I can't get this to work in my existing ASP.NET Core application. The application already insights enabled and a publish profile to Azure, and Insights events and exceptions are shown smoothly.
So instead of the three-step instructions here, I did this:

- Added nuget reference to the project. Since it's a VS project I didn't use the Dockerfile for this.
- The Instrumentat

[2018-03-19 17:10] xiaomi7732 commented on #1
@SWarnberg thanks for reaching us. I am sorry to hear that it doesn't work for you.
Please help me understand your question first.
1. There is an expectation the `Enable Profiler` in the portal will be there to turn on Service Profiler for ASP.NET Core for Linux, right?
* Unfortunately, for this initial release, we do NOT have any portal experience. That button is used for Service Profiler for Win

[2018-03-19 21:47] xiaomi7732 opened #2 "Update the document to state clearly that 'Enable Profiler' button is not needed in AppInsights-Profiler-AspNetCore for Linux"
@CawaMS As we discussed offline, could you please update the document, find a proper place to state this clear? Thanks!

[2018-03-20 13:07] SWarnberg commented on #1
Hi,
thanks for the quick respons. Yes, the project runs on Linux.
I finally got it working. As it seems, the **AddServiceProfiler** call was the trick.
Let me explain in more detail what my scenario was.
- I have created a ASP.NET Core project in Visual Studio using the template as described here: [Visual Studio Tools for Docker](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/

[2018-03-20 13:49] SWarnberg commented on #1
However, it seems a bit unstable. Many times when I have a trace i Azure, I get the "Issue loading trace" error message. Any idea?

[2018-03-20 14:37] SWarnberg commented on #1
Another question. Is it supposed to work when I publish my project to Azure App Service? Most important for me is to be able to profile in production. As of now, I can't see any traces.

[2018-03-20 16:57] xiaomi7732 commented on #1
SWarnberg
Thanks for posting the update and I am glad to hear it starts to work for you. It is a good point that users use Visual Studio templates and I'll see what I can do there.
To answer your questions:
1. Yes, it works in Azure App Service as long as it works locally & deployed as Linux App Service; We understand it is a key scenario to profiling the production with little overhead as possibl

[2018-03-20 19:35] xiaomi7732 opened #3 "Understand Visual Studio ASP.NET Core 2.0 template and provide example to enable Service Profiler"
Updating Dockerfile in ASP.NET Core 2.0 project dockerized by Visual Studio doesn't seem work. Investigate why and provide another example.

[2018-03-21 00:12] xiaomi7732 commented on #1
@SWarnberg Just for your reference, another example is added for the project created in VS:
https://github.com/Microsoft/ApplicationInsights-Profiler-AspNetCore/tree/master/examples/EnableServiceProfilerInVS

[2018-03-21 00:16] #3 closed

[2018-03-21 08:01] SWarnberg commented on #1
Thanks. The new guide looks great.

1. I haven't seen it working yet, but I will test some more and keep monitoring. During development and testing it's a bit awkward to have to wait so long before anything is published.
2. You can look at id qlaef24i.

I really miss the profiling tools that we have with .NET Framework, being able to profile a unit test locally, giving direct hints about performan

[2018-03-21 08:45] SWarnberg commented on #1
Btw; you're not mentioning the **AddServiceProfile** call in the Startup class. Is it not needed?

[2018-03-21 09:53] SWarnberg commented on #1
Update: I have followed the new guide for publishing to Azure, including adding the variables to the Application Settings page. However, after two restarts and waiting over 20 mins each, I still don't get any profiling data in the portal.

[2018-03-22 00:44] xiaomi7732 commented on #1
@SWarnberg Thanks for the update and the questions. This is going to be long, I want to explain it clearly. please stay with me.
* Trace error for `qlaef24i`.
  * I checked the service. The trace is gathered and uploaded but there seems no proper activities in the trace.
![image](https://user-images.githubusercontent.com/3674549/37744648-91854834-2d2d-11e8-8137-f6196178af12.png)
  * Could you plea

[2018-03-22 16:12] SWarnberg commented on #1
Hi,

thanks for the elaborated answer. Here's my response:

- The old, referenced, trace was gone now, but I managed to reproduce the issue. Reference correlation id: **padklzao**. However, there is no Download trace button available in the "Issue Loading Trace" view.
- Yes, I did have both **AddServiceProfiler** and the environment variable in my project. I removed the AddServiceProfiler call and

[2018-03-22 16:58] SWarnberg commented on #1
I restarted the service once again and got 18 new samples that was uploaded. None of them worked. In the service log file, I see only one entry of "There is no matched start activity found..", so it does not correlate with the number of samples.

[2018-03-22 18:02] xiaomi7732 commented on #1
@SWarnberg Thanks for the info. Checking from the last telemetry entries, I think you are doing all things correctly. I had applied permission to get one of the trace uploaded. It doesn't, in fact, include the samples that expected - although they are recognized as samples according to the log. There are 2 possibilities:
1. They are valid samples, but somehow we didn't get them correct in the trac

[2018-03-22 18:17] SWarnberg commented on #1
I'll see what I can do tomorrow (it's evening in Sweden :-)), regarding the sample. It's a quite big project, but maybe I can give small pieces. About sharing container, how is that done?
Another thing; I remember it worked one time when I debugged it locally, and at that time I used the AddServiceProfiler method instead of the variable. Could that have any impact?

[2018-03-22 19:14] xiaomi7732 commented on #1
@SWarnberg , I really appreciate your effort on this.
1. Using AddServiceProfiler() instead is a good point. When you say it worked, do you mean you see the trace from the portal? Please try this:
  a. Remove the environment variable of `ASPNETCORE_HOSTINGSTARTUPASSEMBLIES`.
  b. Add back the call to EnableServiceProfiler() in Startup.cs
  c. Redeploy the service.
Give it a shoot. If that works fo

[2018-03-22 20:17] CawaMS commented on #2
https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler-aspnetcore-linux#known-issues

[2018-03-22 20:17] #2 closed

[2018-03-23 10:17] SWarnberg commented on #1
Hi,
I did as you suggested and removed the variable and added back AddServiceProfiler, re-deployed and tested. The traces get uploaded. However, they are still not loaded. This time, though, it takes extremely long time in the "Unpacking ETL file" stage:
![image](https://user-images.githubusercontent.com/26246346/37821875-22a88ac6-2e85-11e8-810d-f82befaa83a9.png)
See correlation id **xi1bbcub**.

[2018-03-23 14:33] xiaomi7732 commented on #1
@SWarnberg quick question. You mentioned your operation is heavy. Can you give me an idea how much time will an operation take? Thanks!

[2018-03-23 15:49] SWarnberg commented on #1
I didn't really mean heavy in that sense. More heavy in code and hard to share.
However, that's also true, an uncached operation may sometimes take up to 6 seconds.

Btw; I did a new deploy with refactored code (replaced a lot of IDistributedCache/Redis calls with IMemoryCache), and removed AddServiceProfiler and re-added the environment variable. This time the traces could be read.
I have no idea

[2018-03-24 02:04] xiaomi7732 commented on #1
Hey @SWarnberg With your info about the project, I did some investigation, I agree there is robustness issue here. I could reproduce your scenarios from time to time on my end. We will work on making it more stable.

At the same time, I see you have service that kept doing the profiling but there is no activity(No traffic to your api) during the profiling sessions. Could you please set up an avail

[2018-03-24 02:10] xiaomi7732 opened #5 "The initial trace session is not stable"
Needs to investigate this and come up with a mitigation.
1. If 404 is hit first, there is a big chance there's no trace;
2. Sometimes, there just has no activity caught in EventPipe;
Check out the investigation details in #1 .
No matter what, when this happens, it is a really bad experience. Need to address this ASAP.

[2018-03-26 07:41] SWarnberg commented on #1
Sounds good that you can reproduce it now, and that you can work on a solution.
I have set up an availability test on the service now, so let's see if I get any traces in the next few hours. Question is whether the tests will hit the trace timespan, since the frequency is set to 5 mins and trace is enabled for 2 mins every hour....

[2018-03-26 16:16] xiaomi7732 commented on #1
@SWarnberg 👍 thank you for setting up the availability test. It will hit eventually.

[2018-03-26 16:17] xiaomi7732 opened #6 "There's double enablement"
It is reported that set the hosting startup environment at the same time call services.EnableServiceProfiler() leads to double enablement.
Needs to reproduce the issue and fix.

[2018-03-27 09:46] SWarnberg commented on #1
The result from the availability tests was not as good as you could have hoped. A few hours after the test was added, there were still no traces. Then I restarted the container, and just after that I got three traces. However, during the next coming hours, there were no more traces at all.
Now I have disabled the tests because the funds are running out :-)

[2018-03-27 15:01] xiaomi7732 commented on #1
@SWarnberg Really appreciate your effort! This is really helpful feedback for us. **Stabilization** will be the next big topic for the next release.

[2018-03-27 17:09] xiaomi7732 opened #7 "Zipped trace file is left on the disk post uploading"
The leftover will add up over time. Have to try to clean it up.

[2018-03-31 18:52] xiaomi7732 opened #8 "Update EventPipe Default configuration to try enable both provider name and guid for CLR 2.1"
When CLR 2.1 arrives, the enablement requires provider name than guid. Try to enable both for backward compatibility. Expect either name or guid will be hit but not both.

[2018-04-06 23:10] xiaomi7732 opened #9 "Start/Stop activity mismatch after profiling enabled for a few iterations"
From the log, after the Service Profiler running for a while and there's going to be start stop activity mismatch.
This need to be investigated.

[2018-05-03 13:19] ins4n333 opened #10 "503 after enabling Profiler"
Hi!
I have a small .net core app. This app is hosted as a docker container in Kubernetes. When I enable Application Insights Profiller  then all request to this application falls in 503 error (Bad Gateway)
I tryed to enable profiling using both methods  "ENV ASPNETCORE_HOSTINGSTARTUPASSEMBLIES Microsoft.ApplicationInsights.Profiler.AspNetCore" and "services.AddServiceProfiler();"
But  the error  s

[2018-05-11 04:15] xiaomi7732 opened #11 "Service Profiler backend can't handle CLR 2.1 (rc) trace"
When the trace for CLR 2.1 is submitted to the Service Profiler backend, the trance analysis failed.

[2018-05-11 04:27] xiaomi7732 commented on #10
@ins4n333 Thank you for using Service Profiler. I am sorry to hear that it doesn't work for you and also for the delayed reply. Kubernetes hosted container should be working.

By the description, the app is working properly without enable Service Profiler but returns 503(Server Internal Error) when has Service Profiler Enabled, is that correct?

You said you are using both environment variable and

[2018-05-11 17:53] ins4n333 commented on #10
Hi @xiaomi7732 ! I have already analazyed this problem. It turns out when I deploy application with enabled profiler my pods fall in OOM... It depends on the fact that I had had pods which are limited in CPU and MEMORY.  But the profiler itself requires some amount of memory for correct work. After that I increased memory limit of pod my application started fine and profiler was able to collect so

[2018-05-11 18:02] xiaomi7732 commented on #10
@ins4n333 Thanks for looking into the issue. Really appreciate it. **With the correlation id** you provided, I checked the telemetry on our end and it is the typical CLR 2.0 run-time failure.
====
I just want to mention here is that there is a new issue in our back-end to analyze CLR 2.1 traces because of a recent CLR change. The issue is tracked by #11 . Please hold it a bit if you want to try it

[2018-05-11 19:04] ins4n333 commented on #10
@xiaomi7732 Thank you! I belive that AI profiler will be very useful tecknology for diagnostic perfmonce problems. Existense Linux tools for dotnet profiling (such as perf) are not very convenient..

[2018-05-11 19:10] xiaomi7732 commented on #10
Very pleased to hear that :-) Thanks again for using the profiler and give us the feedback.
I'll lock this conversation for references.

Feel free to open up new issues at anytime if there's more info.

[2018-06-14 06:48] xiaomi7732 commented on #11
Fixed and verified on the server end. Close this one.

[2018-06-14 06:48] #11 closed

[2018-06-15 16:43] jeremymeng opened #12 "With an invalid AppInsight instrumentation key I got "No stamp id is fetched. Abort the upload process." error message"
It would be great to have a better error message to indicate that the key is invalid.

[2018-06-15 17:13] xiaomi7732 commented on #12
Thanks for filing the issue. There could be various reasons why the StampId couldn't be fetched, invalid iKey is one of them.

That said, I'll look into how to emit a better message.

[2018-06-21 16:43] jeremymeng opened #13 "Consider adding Microsoft.ApplicationInsights.AspNetCore as a dependency in 2.1-based package"
In ASP.NET Core 2.1, the default project template does not pull in the `Microsoft.ApplicationInsights.AspNetCore` so I had to add it in order for the newer 2.1-based profiler package to work.  It is better to specify it as a dependency so end users don't need to include it by themselves.

[2018-06-21 22:12] xiaomi7732 commented on #9
Fixed in 1.1.2-beta1

[2018-06-21 22:12] #9 closed

[2018-06-21 22:12] xiaomi7732 commented on #8
Fixed in 1.1.2-beta1: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.2-beta1

[2018-06-21 22:12] #8 closed

[2018-06-21 22:13] xiaomi7732 commented on #7
Fixed in 1.1.2-beta1:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.2-beta1

[2018-06-21 22:13] #7 closed

[2018-06-21 22:13] xiaomi7732 commented on #6
Fixed in 1.1.2-beta1: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.2-beta1

[2018-06-21 22:13] #6 closed

[2018-06-21 22:14] xiaomi7732 commented on #5
Fixed in 1.1.2-beta1: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.2-beta1
Note:
Since CLR change is needed, the fix only works in CLR 2.1+

[2018-06-21 22:14] #5 closed

[2018-06-22 12:11] ins4n333 opened #14 "How to open downloaded .netperf file?"
Is it any way to view downloaded .netperf  files using some desktop tools like perfview or others?

[2018-06-23 00:31] pharring commented on #14
Yes, [PerfView](https://github.com/Microsoft/perfview) can load .netperf files.

[2018-06-23 11:49] ins4n333 commented on #14
I have a few more questions
Does the profiers works on containers that are not facade services (which do not provide api). For example, on some background message handlers or similar?
How exactly do you collect the traces? Using perfview in the trace file  I see not only requst stacks, but there are also a lot of useful  dotnet events. Which is very cool. Is this information obtained using the  ut

[2018-06-23 15:11] pharring commented on #14
@xiaomi7732 can you help?

[2018-06-23 21:00] xiaomi7732 commented on #14
@ins4n333 thanks for your asking.
If I understand right, you want to know if Application Insights Profiler runs on applications that run on its own, right? The profiler will work as long as your application runs on .NET Core CLR 2.1 and above and the container can have outbound traffic to talk with the service profiler service (thus to upload the netperf gathered). That said, application profiler

[2018-06-26 01:38] xiaomi7732 opened #15 "Do NOT over-reporting activity not match issue"
When activity mismatch happens, it will be there until the start of the next session.
[code]
We don't need the report of the issue multiple times per second.

[2018-07-03 15:49] xiaomi7732 opened #16 "Provide an example with CLR 2.1"
There are small tweaks needed for the profiler to run with CLR 2.1. Considering update the examples or providing new examples.

[2018-07-03 17:13] xiaomi7732 opened #17 "Investigating adding trace info into the zipped file"
Having the trace location info in the zipped etl file will simplify the troubleshooting and might open other scenarios. Note this down just so that the idea doesn't get lost.

[2018-07-05 01:11] xiaomi7732 commented on #16
Resolved by #18 & #19.

[2018-07-05 01:11] #16 closed

[2018-07-16 19:17] xiaomi7732 commented on #15
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.3-beta1

[2018-07-16 19:17] #15 closed

[2018-07-16 19:17] xiaomi7732 commented on #13
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.3-beta1

[2018-07-16 19:17] #13 closed

[2018-07-16 22:44] xiaomi7732 commented on #12
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.3-beta1

[2018-07-16 22:44] #12 closed

[2018-08-09 12:10] ins4n333 opened #20 "Failed adding start activity: /#1/1/4/"
Hi
After first start profiler has been able to collect some traces,
But next runs were failed with such errors:

{"Timestamp":"2018-08-09T12:05:01.3892611+00:00","Level":"Information","MessageTemplate":"Service Profiler session started.","Properties":{"SourceContext":"ServiceProfiler.EventPipe.Client.Schedules.TraceSchedule","ConversationId":"(none)","ProfilingContext":"(none)"}}

{"Timestamp":"20

[2018-08-09 17:13] xiaomi7732 commented on #20
@ins4n333 Hey, thanks for reporting this. Could you please provide a bit more details to help us understand what is going on:
1. What is your CLR version: `dotnet --info`
2. What is your project type? Is it ASP.NET Core MVC? Or is it webapi?
3. What's your hosting environment?
On Linux? On Windows + Docker Tools? Visual Studio + Docker Tools?
4. Does this 'Failed to adding start activity' or 'Ther

[2018-08-21 18:29] xiaomi7732 commented on #20
@ins4n333 We haven't got the mail. Is there any update?

[2018-08-27 16:43] xiaomi7732 commented on #20
Close due to no response. Please reopen if there's any update.

[2018-08-27 16:43] #20 closed

[2018-10-01 21:12] karolz-ms opened #21 "Instructions for EnableServiceProfilerInVS sample are a bit outdated with respect to Docker tooling"
Starting with Visual Studion 15.8 enabling Docker does not automatically add a `docker-compose.yml` file to the project. You need to do an extra step of right-clicking the project and doing Add | Container Orchestrator Support:

![image](https://user-images.githubusercontent.com/15271049/46315934-92423400-c583-11e8-98e3-d195f66a71fc.png)

[2018-10-11 12:43] bremnes opened #22 ""Profile now" from portal should work for dockerized applications"
Following the tutorials I've been able to run AI profiling on a dockerized asp.net core application (asp.net core running on linux docker locally at the moment).

I see the server registered in AI; live metrics streaming in the "live metrics stream" and requests/error/dependencies showing up as they should. For the profiler I see that it profiles two minutes at startup and then idle for 58 minutes

[2018-10-13 15:41] pharring commented on #22
@xiaomi7732 comments?

[2018-10-17 22:52] xiaomi7732 commented on #22
@bremnes Thanks for the asking. It is an interesting question.
There are at least 2 benefits for `Profile Now`:

1. One can start the profiling at the time on demand;
2. One can align the profiling across multiple services at the same time;

Could you please tell me which one do you think will benefit you more at this stage?

The reason I ask is that it might take a while before we can implement `

[2018-10-18 19:19] xiaomi7732 opened #23 "Update packages in examples to address the vulnerability issues"
Package of Microsoft.AspNetCore.All needs to be updated to the latest to address the vulnerability concerns.

[2018-10-19 02:18] #23 closed

[2018-10-20 18:24] ihalila opened #25 "Severely degraded performance while profiling a Linux app"
Enabling the Application Insights profiler for an ASP.NET Core app on Azure App Service results in response times slowing down to over 30 seconds (during profiling) where they would normally be in the milliseconds. This is reproducable by following the guide at https://docs.microsoft.com/en-us/azure/application-insights/app-insights-profiler-aspnetcore-linux to set up a ASP.NET app and placing it

[2018-10-21 04:14] pharring commented on #25
@xiaomi7732 have we tested on the Basic plans?
I think we should recommend S1 minimum.
@ihalila was this just a test app or do you have a real production app on a B1 plan? Are you able to scale up to S1 -- at least long enough to see what the corresponding chart looks like?

[2018-10-21 06:02] ihalila commented on #25
This was a test app, I didn't make any modifications to the template created by `dotnet new mvc -n LinuxProfilerTest` other than adding the profiler. I'll scale up to S1 and report back what it looks like once it's ran for a while.

[2018-10-22 11:19] bremnes commented on #22
@xiaomi7732, both to be honest. Ideally one should be able to profile one/several/all connected services/applications regardless of them running in Kubernetes, Azure or on a VM in your own data center.

From the documentation on [app insights profiler](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/application-insights/app-insights-profiler.md#-manually-trigger-profiler) it says

[2018-10-22 17:19] xiaomi7732 commented on #25
@ihalila / @pharring Thanks for opening this issue.
@ihalila Please help me understand more about the issue:

1. What is the app's runtime? Is it CLR 2.0 or CLR 2.1?
2. What is the base image that is used to build the image?
3. When you see 30+ seconds slowness, is that for the cooling start or is that for every request even after warm up?

It will be great if you can fill me in with those details

[2018-10-22 17:43] ihalila commented on #25
1. It's running on the ".NET Core 2.1" stack that App Service provides.
2. It's whatever is default on App Service, I've deployed the app using the "Local Git" method of just pushing the project files directly to App Service to make this as simple as possible.
3. The slowdown seems to happen when profiling starts but doesn't persist during it, though it's a bit hard to tell for sure. When testing

[2018-10-24 22:21] xiaomi7732 commented on #25
@ihalila Thanks for the reporting. By setting up a local environment, I can repro the same issue now. We need some more time to look into the cause and see what will be the next step.

[2018-10-29 19:10] xiaomi7732 commented on #25
@ihalila Just so that you know we are still looking into this. We found some interesting activities alone with each profiling that drains all the resources from the web app that causes the slow responsiveness. More time is needed for the root cause.

[2018-11-01 17:42] xiaomi7732 opened #26 "Support configuration of buffer size"
- [x] Introduce the configuration model to AI Profiler
- [x] Allow configuration for buffer size
- [x] Update the document for how to use it

[2018-11-05 17:56] xiaomi7732 commented on #25
@ihalila Here's what we found so far:
* We have a circular buffer of 1G set to hold the traces; When profiling finishes, we have a run-down process to dump the buffer from memory to disk.
* Since the S1 plan has a memory of 1.75G in totally, the run-down is struggling between memory paging and thus slows down the service's responses.

To address the issue, we will release a new package that requir

[2018-11-12 21:35] xiaomi7732 commented on #25
@ihalila Please try the new release:
[1.1.3-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.3-beta2). It contains the fix for this issue.
Thanks again for the report. Feel free to file new issue or reactivate this if there's more problem.

[2018-11-12 21:35] #25 closed

[2018-11-13 08:58] sv-citrus commented on #25
@xiaomi7732 thank you for the fix. @ihalila has moved on to new challenges, so I will check this on our side and report if issues still remain.

[2018-11-13 17:14] xiaomi7732 commented on #25
@sv-citrus 👍

[2018-11-13 17:16] xiaomi7732 opened #27 "Support more configurations"
- [x] Duration, Interval, InitialDelay
- [ ] Update document for how to use it.

[2018-12-05 00:57] xiaomi7732 opened #28 "Unpaired activity should been filtered out"
Activity starts before or after trace session will have no start-activity or stop-activity. These samples should be filtered before sending to application insights.

[2018-12-18 00:21] xiaomi7732 opened #31 "ConvertTraceToEtlxValidator shall follow trace's path to avoid permission issue"
The ConvertTraceToEtlxValidator is using the current folder as the working folder, where it might not have writing permission.
Following the trace file folder is more reasonable.

[2018-12-18 06:36] xiaomi7732 opened #33 "Trace analysis result of netperf on Windows is noisy"
Because of the path format differences, the grouping rules for netperf file from Linux does not apply to traces from windows platform.

[2018-12-18 06:38] #10 closed

[2018-12-18 06:40] #1 closed

[2018-12-18 06:40] xiaomi7732 commented on #21
Fixed by #30.

[2018-12-18 06:40] #21 closed

[2019-01-04 18:16] #31 closed

[2019-01-04 18:16] #28 closed

[2019-01-04 18:16] #27 closed

[2019-01-04 18:16] #26 closed

[2019-02-04 23:35] MarioHewardt opened #34 "Profiler on AppService/Linux fails compatability test"
Deploying a .NET Core 2.1 Web API to App Service/Linux causes failure during profiler start. Logs show:

"Compatibility test failed. Reason: Runtime version 4.6.26628.5 is smaller than the minimum version of 4.6.26919.2"

I can work around the issue by setting the App Setting ServiceProfiler_IsSkipCompatabilityTest  to true.

[2019-02-05 16:51] AlexKeySmith opened #35 "For Windows as well as linux?"
Hi,

In the home readme it states: "App Services **Linux** profiler"

However deeper in the documentation: "https://github.com/Microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/examples/EnableServiceProfilerInVSCLR2_2_Win/README.md"

It also indicates Windows.

For Application Insights Profiler 1.1.4-beta1 and above, profiling on **Windows** is supported as an experimental feature for

[2019-02-05 17:21] pharring commented on #35
It's still experimental, but ready for testing and we'd welcome feedback.

BTW, this was part of the plan all along. The traditional profiler is based on ETW, which is a Windows-only technology. So we needed to develop a new solution for profiling .NET Core applications on Linux. The Bing team created an in-proc profiler called BPerf for CoreCLR (https://github.com/Microsoft/BPerf) and we took tha

[2019-02-05 17:24] AlexKeySmith commented on #35
Thanks for the quick response and very cool I look forward to playing with it.

Is this also something recommended over the runtime extension? i.e in the past we've needed the SDK and runtime extension to get the best of both worlds... not necessarily in regards to the profiler, so perhaps this is secondary question is better of suited in the other app insights github repos.

[2019-02-05 17:34] pharring commented on #35
For now, don't install the runtime extension. It's unaware of this method of profiling and will probably mess things up pretty horribly. Stick with the SDK.

[2019-02-05 17:59] AlexKeySmith commented on #35
No worries, thanks for the great advice.

[2019-02-05 17:59] #35 closed

[2019-02-11 15:44] AlexKeySmith opened #36 "AppIdNotFoundException on windows, but profiling seems to work."
When looking at the diagnostic logs stream on an App Service Plan I see a AppIdNotFoundException , which I'd guess is the app insights instrumentation key?

I'm providing the key via ARM to be an app setting / environment variable with the name:
ApplicationInsights:InstrumentationKey

I did read that `__` should be used rather than `:`. Due to colon not working on all platforms, however the .net c

[2019-02-11 22:00] pharring commented on #36
Yes, the "old" profiler has become active. Those logs are from the ETW-based agent running as a continuous WebJob.

Be advised that the UI in the Portal is unaware of the "new" profiler that you're trying here.

Two things:
1. The instrumentation key being passed to the "old" profiler is blank. That's why you're getting the AppIdNotFoundException and why you're ultimately not getting ETW profiles.

[2019-02-13 11:25] AlexKeySmith commented on #36
Cool thanks @pharring that worked a treat!

I didn't have much luck with APPINSIGHTS_PROFILERFEATURE_VERSION, but it might due to something unreleated.

I composed some powershell to hit the kudu api and popped it onto stackoverlow in case it proves useful for other people if using a release pipeline: https://stackoverflow.com/questions/54668938/removing-the-appinsights-profiler-from-a-app-service

[2019-02-13 11:25] #36 closed

[2019-02-22 23:22] xiaomi7732 commented on #34
Profiler doesn't work well on the too low version of the .NET Core CLR due to EventPipe changes.
Is that an option to upgrade the base image to have a newer .NET Core CLR?

[2019-02-28 17:46] xiaomi7732 opened #37 "Linux Profiler traces can't be seen from the Azure Portal"
There's a known bug in the latest deployed backend that leading to trace analysis failures.
While the issue is fixed, please expect there to be a period before we finish the test and get the fix deployed.

To workaround the issue:
1. Download the trace from the analysis page using the 'Download' button on the right upper corner.
2. Rename the trace file from *.etl.zip to *.netperf.zip.
3. Open it

[2019-02-28 17:47] #33 closed

[2019-02-28 17:57] xiaomi7732 opened #38 "Add configurations to allow not deleting the local trace and/or bypass upload"
- [x] Do not delete local traces
- [x] Bypass the upload

[2019-03-08 23:58] xiaomi7732 commented on #38
This is implemented in 1.1.5-*

[2019-03-09 00:00] xiaomi7732 commented on #37
The fix is under deploying. Expected to be fully deployed by 3/15.

[2019-03-09 00:00] xiaomi7732 commented on #34
I'll close this as by design for now. @MarioHewardt let me know if you have any suggestion to make it better.

[2019-03-09 00:00] #34 closed

[2019-03-12 15:18] bhbeebe opened #40 "Adding profiler to dotCore 2.1 on linux (AKS) causes huge memory usage."
We have added the profiler to our project.  We are using dotNet Core on linux (Ubuntu) within kubernetes.  Without Application Insights profiler, our application sits between 200m and 512m.  When we add the profiler.  We see it immediately jump up to 1.2 GB and then it keeps climbing settling in around 7.5 GB to 8 GB per pod.  We have used both workstation and server GC.  Workstation tends to incr

[2019-03-14 18:02] xiaomi7732 commented on #40
@bhbeebe I am sorry that happens. Please provide some more info around this:
1. What is the package version of the App Insights Profiler are you using?
2. What's the configuration of the service profiler? (Refer [Configuration](https://github.com/Microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/Configurations.md)) to tweak the memory size?
3. Is there any other logging library are you

[2019-03-14 23:13] bhbeebe commented on #40
We have confirmed that using 2.2 has resolved the big memory issues.  We are using the AppInsights +  the profiler without issues so far.  The profile does provide the additional stack traces that provide us further insights into issues within the code.

From: Saar Shen <notifications@github.com>
Reply-To: Microsoft/ApplicationInsights-Profiler-AspNetCore <reply@reply.github.com>
Date: Thursday, M

[2019-03-15 20:26] xiaomi7732 commented on #40
@bhbeebe Thanks for the feedback.

[2019-03-15 20:26] #40 closed

[2019-03-15 20:27] xiaomi7732 commented on #38
Package released at:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.5-beta2

[2019-03-15 20:27] #38 closed

[2019-03-15 20:28] xiaomi7732 commented on #37
The deployment has been finished. If there's any further issue, please open new issues and we will troubleshoot it case by case.

[2019-03-15 20:28] #37 closed

[2019-04-15 17:39] bhbeebe opened #42 "profiler is not cleaning up netperf files"
We are seeing our /tmp directory increasing in size due to the netperf files; upto 3.8GB.  It looks like the profiler is not cleaning up these files after upload.

According to the docs it looks like expected behavior is for these to be deleted after upload.

This is what the current /tmp looks like.

3.8G	./tmp/

drwxr-xr-x 4 root root 4096 Apr 13 10:04 0f5q0aim.m21
drwxr-xr-x 4 root root 4096 Ap

[2019-04-15 18:40] xiaomi7732 commented on #42
Thanks for the report. I'll take a look.

[2019-04-15 22:28] xiaomi7732 commented on #42
Looks like a bug in Profiler. I'll come up with a fix.

[2019-04-16 19:05] xiaomi7732 commented on #42
This issue has been fixed and will be released alone with other changes in the next release. Expecting version number: 1.1.6-*

[2019-04-30 17:59] xiaomi7732 commented on #42
Find the package here: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.6-beta1

[2019-04-30 17:59] #42 closed

[2019-05-20 11:08] scotthellewell opened #44 "What about Mac support?"
I was attempting to try this out on my .net core 2.2 asp.net application.  I am currently running it on a Mac for development and then pushing it to Azure app services running on linux.  When testing on the Mac, the program crashes before it fully starts up. I see the charts show what versions work with linux and what versions work with Windows.  What is the recommendation for Mac?

[2019-05-20 18:34] xiaomi7732 commented on #44
Hi @scotthellewell Profiler for Mac is not officially supported.
When you have crash on the Mac, what is the callstack look like?

[2019-05-30 18:27] xiaomi7732 commented on #44
Close this since there's no response for a while.

[2019-05-30 18:27] #44 closed

[2019-06-12 20:24] tremblaysimon opened #45 "Is ApplicationInsights Profiler open source?"
That repository contains examples and documentation, but not the ApplicationInsights Profiler source code. Is ApplicationInsights profiler open source?

[2019-06-13 21:50] xiaomi7732 commented on #45
@tremblaysimon Thanks for the asking. ApplicationInsights Profiler is not open sourced.
Just out of curiosity, is there anything specific you are looking for?

[2019-06-28 16:57] #14 closed

[2019-09-23 22:18] xiaomi7732 opened #46 "Version compatibility test fails when running in .NET Core 3.0"
In .NET Core 3.0, the returned value for the .NET Core version will return the correct value, which breaks the existing compatibility test.
Work around:
By pass the compatibility test:

[code]

Details:
Refer to [What's new in .NET Core 3.0 - improved net core version APIs](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#improved-net-core-version-apis).

[2019-09-24 04:34] isaac2004 opened #47 "No customer events released error ASP.NET Core 3"
I tried to follow the instructions for an ASP.NET Core 3.0 App, and I get the following error

Is there an additional step other than turn off the compat test?

[2019-09-25 02:03] xiaomi7732 commented on #47
@isaac2004, thanks for filing the issue. I can repro what you mentioned on the .NET Core 3.0.100 and I have some direction to look into. It will take sometime. I'll get back to you once there progress.

[2019-10-08 07:52] andtii commented on #22
One year later do we have any progress on this?

[2019-10-08 17:26] xiaomi7732 commented on #22
@andtii Thanks for your ask. Do I understand correct by **this**, you mean the **Profile Now**? By current timeline that I have, it will take about one month for a new version to roll-out with the capability. I'll update the date when I have anything concrete.

[2019-10-08 21:07] andtii commented on #22
@xiaomi7732 Nicee that sounds awesome

[2019-10-11 16:54] xiaomi7732 commented on #46
Fixed in [1.1.7-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.7-beta2).

[2019-10-11 16:54] #46 closed

[2019-10-11 16:55] xiaomi7732 commented on #47
@isaac2004, please try this again with [1.1.7-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/1.1.7-beta2).

[2019-10-15 21:36] Eneuman opened #48 "AI Profiler not working well with .Net Core 3.0 and AKS"
When using AI Profiler together with DEV-Spaces and AKS, I receive this error in my logs.

[code]

I am creating my docker container using this build file:

[code]

I find it strange that it says that it has found .Net Core 3.0 but it needs .Net Core 2.0.
I am using the latest beta-2 package.

Any idea on how to solve this?

[2019-10-16 17:23] xiaomi7732 commented on #48
@Eneuman, thanks for the report. I'll take a look.

[2019-10-17 01:25] xiaomi7732 commented on #48
@Eneuman, the issue is that the TraceUploader in the package works only when .NET Core 2.x exists, thus the failure.

While we are looking into the fix, here's a workaround:

1. Create a folder named 'Workaround' in your project folder and put the following zip file into the folder:
[TraceUpload.zip](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/3737011/TraceUpload.zip

[2019-10-18 00:48] cwoolum commented on #48
This works for me

[2019-10-18 01:18] xiaomi7732 commented on #48
@cwoolum Thanks for the comment. It is good to know that we have a working workaround.
The trace upload is a standalone app but targeting NetCoreApp2.0.
We are working on a fix to simship for both runtimes.

[2019-10-18 02:26] cwoolum commented on #48
It would be great if the different versions could be hosted at a public endpoint and just added as a Dockerfile step. We actually add the profiler to one of our core libraries so our consuming apps actually need to have the zip manually added anyway.

We also use our own custom base docker images so downloading a file and adding it to the build as a step in the Dockerfile is much simpler than manu

[2019-10-18 10:53] luca-esse opened #49 "Worker Service applications (non-HTTP applications) support"
Hi,

Are there any plans to support worker service applications much like it was done with the [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService) package?

[2019-10-18 19:02] xiaomi7732 commented on #48
@cwoolum Thanks for the feedback. Will it work for you if we post the binaries for the uploader in Github releases?

[2019-10-18 20:49] cwoolum commented on #48
That would be the ideal solution for me!

[2019-10-21 18:47] xiaomi7732 commented on #49
@luca-esse Thanks for your feedback. Supporting work services application is not on our radar at this point. The application insights profiler currently is built around the `Requests telemetries`, which is not an native member of work services apps.

That said, if you are running on a .NET Core 3.0 and above, and if your goal is trying to get a profiling trace for those apps and you are comfortabl

[2019-10-21 18:52] xiaomi7732 commented on #47
Cross reference #48 , this issue has been fixed. Close this one.

[2019-10-21 18:52] #47 closed

[2019-10-21 22:17] xiaomi7732 opened #50 "Release Uploader as binaries on github"

[2019-10-21 22:18] xiaomi7732 commented on #50
Refer to #48

[2019-10-24 04:18] xiaomi7732 commented on #48
The fix as been rolled out here: [2.0.0-beta1]().
Please follow the documentations here for migration:
* https://github.com/xiaomi7732/ApplicationInsights-Profiler-AspNetCore/tree/dev/saars/update-profiler-2.0/examples/QuickStart3_0
* https://github.com/xiaomi7732/ApplicationInsights-Profiler-AspNetCore/blob/dev/saars/update-profiler-2.0/docs/MigrateTo2_0.md

@cwoolum, please wait for a few days f

[2019-10-25 15:15] valeriob opened #52 "Hosting Startup is not working in dotnet core 3.0 Azure App Service (System.MissingMethodException: Method not found)"
Hi,
i'm using the Microsoft.ApplicationInsights.Profiler.AspNetCore 2.0.0-beta1 in azure App Service with configured runtime netcore 3.0 and the following environment variable
ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.ApplicationInsights.Profiler.AspNetCore
It fails with this exception :

2019-10-25T15:09:06.749966649Z    at Microsoft.AspNetCore.Hosting.ServiceProfilerInjection.<>c.<Configure>

[2019-10-25 17:40] xiaomi7732 commented on #52
@valeriob, Thanks for your report. Hosting startup is not supported in 2.0.0-beta1. Please follow the example of [Quick Start](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/tree/master/examples/QuickStart3_0) to enable Profiler.

Also, could you please tell us what is the reason for you to choose to use hosting startup? It will help us decide what's the next priority.

Thank

[2019-10-25 17:57] #50 closed

[2019-10-25 17:57] xiaomi7732 commented on #48
@cwoolum The binaries have been released here:
https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.0.0-beta1

[2019-10-25 17:57] #48 closed

[2019-10-25 17:58] #22 closed

[2019-10-25 20:53] valeriob commented on #52
I like it because it's automatically enabled via env variable on production environment, so it will not run during development, and it's non invasive, can be enabled/disabled in prod without code deploy.

[2019-10-25 21:16] xiaomi7732 commented on #52
Thanks @valeriob for your feedback. Just in case you don't know, this following environment variable can be used as a kill switch of the profiler:

Check out the documentation: [Configuration References](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/Configurations.md#configuration-references).

[2019-10-29 21:52] xiaomi7732 opened #54 "Profiler analysis for Windows App Services reports blob not found"
For apps hosted in Azure App Service, the trace analysis failed with the following message:

[2019-10-29 22:26] xiaomi7732 commented on #54
The issue will be fixed in 2.0.0-beta2

[2019-10-30 04:51] xiaomi7732 commented on #54
Find the package here:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta2

[2019-10-30 04:52] #54 closed

[2019-10-30 05:01] xiaomi7732 opened #56 "Change releasing uploader for .NET Core 3.0 to FDD from FDE"
Refer to https://github.com/dotnet/core/issues/3686#issuecomment-546471209 for details.
Basically, it doesn't make sense to release an exe file for binaries to be run on both Linux and Windows.

[2019-11-08 17:31] valeriob commented on #52
I'm trying 2.0.0-beta2, but it does not work with dotnet core 3.0, i get this error during startup :

System.IO.FileNotFoundException: 'Could not load file or assembly 'System.Diagnostics.PerformanceCounter, Version=4.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified.'

[2019-11-08 17:59] xiaomi7732 commented on #52
@valeriob That is interesting. Let's troubleshoot.
I assume the application failed to start at all, right? Are you running it on Windows or Linux? Could you please run `dotnet --info` and past the output here?

[2019-11-08 20:20] valeriob commented on #52
Hi,
i created a brand new aspnet core 3.0 application, added the nuget package, those 2 lines in configure services
          services.AddApplicationInsightsTelemetry(); // Enable Application Insights telemetry
            services.AddServiceProfiler(); // Add this line of code to Enable Profiler
and this code in the appsettings.json:
  "ApplicationInsights": {
    "InstrumentationKey": "replace-w

[2019-11-08 23:18] xiaomi7732 commented on #52
@valeriob, so, you are running it locally on your box, right? I ran it in the same environment and didn't have a problem. If possible, could you please run your app as administrator and give it another shoot? Let's see if that is due to permission issue before we try the fancy [**fuslogvw**](https://docs.microsoft.com/en-us/dotnet/framework/tools/fuslogvw-exe-assembly-binding-log-viewer).

[2019-11-08 23:47] valeriob commented on #52
Yes, i never run as admin.
But i can reproduce it on many machines, in vs F5 both admin and normal user.

[2019-11-09 00:45] xiaomi7732 commented on #52
By 'vs', I think you mean Visual Studio? Could you please share the version number for VS?

To sort out visual studio magics, in the project folder, run:
[code]
Does it work?

Also, could you please paste your project file(*.csproj), just want to see project references and that may help us repro the issue here.

[2019-11-09 01:15] xiaomi7732 opened #57 ".NET Core 3.0 app running in Azure Web Apps keeps the trace for only 24 hours"
This is a regression in 2.0.0-beta2. It is introduced by the inconsistency for the machine names between the metadata and the blob in the backend.

The fix is going to be released in 2.0.0-beta3.

[2019-11-09 05:32] valeriob commented on #52
Yes, visual studio 16.3.6, and it does not work with dot net run eather.

[2019-11-11 18:55] xiaomi7732 commented on #52
@valeriob I tried the same steps in VS 16.3.6 and it worked for me. There must be something I missed. Let me share my project and you can compare it with yours. At the same time, if you will to, share the project with me and I can take a look at it for you as well.

[WebApplication.zip](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/3832801/WebApplication.zip)

[2019-11-12 08:03] valeriob commented on #52
Hi xiaomi,
i saw that you added the guide for .netcore 3 exactly after i opened the issue. i diagnosed the problem, and it's due to the dependency required for Microsoft.ApplicationInsights.AspNetCore must be at least 2.8+, while the nuget package requires only Microsoft.ApplicationInsights.AspNetCore (>= 2.3.0).

I suggest to upgrade the nuget package to reflect the real version dependency.
Thank

[2019-11-12 18:20] xiaomi7732 commented on #52
@valeriob Oh~ that is why. I'll look into how to get that fixed.

[2019-11-12 18:27] xiaomi7732 opened #58 "ASP.NET Core 3.0 requires Microsoft.ApplicationInsights.AspNetCore 2.8+ but there's no hard dependency"
There was a bug in MS.AI.AspNetCore before 2.8 crashing the app. Refer to discussion in #52
It would be great if there could be different dependencies for different .NET Core runtime for the best of backward compatibility as well as correct dependencies.

For .NET Core 2.x, the requirement should keep 2.3+ while for Core 3.0, the requirement should be 2.8+.

[2019-11-14 16:33] andscho-msft opened #59 "StackOverflowException from ServiceProfiler.EventPipe.Client.EventListeners.TraceSessionListener when LogLevel trace is used"
### Repro
AddServiceProfiler() with the ApplicationInsightsLogger and min loglevel of trace. The TraceSessionListener tries to log, which seems to trigger the TraceSessionListener again, resulting in a stack overflow.

### What is printed to console
[code]

### Stack Trace (captured from WinDgb)
[code]

### Workaround

[code]

[2019-11-19 05:59] xiaomi7732 opened #61 "Caught trace is less than expected for nested requests"
When there's chain of requests (one calling into another request), the caught trace is way less than expected.
This is caused by the algorithm in the request event matching. The fix will be fixed in 2.0.0-beta4.

[2019-11-19 06:01] xiaomi7732 commented on #59
Hi andscho-msft thank you so much for reporting this. I'll look into this when there's cycle.

[2019-11-20 10:17] cothman opened #62 "Could not get instance for TraceUploaderProxy when using StructureMap as DI container"
I followed the steps as described in the ReadMe. But it seems that when trying to instantiate classes from Application insights profiler (using `services.AddServiceProfiler()`), StructureMap throws an exception when trying to instantiate TraceUploaderProxy.
Bellow the exception I get:

`Unable to create a build plan for concrete type Func<String, String, Task<Int32>>
new Func<String, String, Task<

[2019-11-20 22:56] xiaomi7732 commented on #62
@cothman Sorry to hear that it is not working for you. Could you please provide some information for trouble shooting:
1. What's your dotnet version? (Run `dotnet --info` at the project folder)
2. What is the package version that you referenced to?
3. What's your OS?

Is it possible for you to post a copy of your project here? I can take a look then.

[2019-11-20 22:57] xiaomi7732 commented on #61
This is fixed in [2.0.0-beta4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta4).

[2019-11-21 10:18] cothman commented on #62
@xiaomi7732, this is my dotnet version:
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100
 Commit:    04339c3a26

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100\

Host (useful for support):
  Version: 3.0.0
  Commit:  7d57652f33

.NET Core SDKs installed:
  2.1.801 [C:

[2019-11-21 20:57] xiaomi7732 commented on #62
@cothman I did some investigation and here's some of my findings:
1. You are trying to use StructureMap to replace the existing DI for the app. However, StructureMap is not working with ASP.NET Core 3.0 yet: Details here: [active issue #47](https://github.com/structuremap/StructureMap.Microsoft.DependencyInjection/issues/47).
1. `ConfigureContainer` will be called only when StructureMap.AspNetCore

[2019-11-21 22:19] #61 closed

[2019-11-21 22:22] xiaomi7732 opened #63 "Trace Upload failure, in some situation, is not caught"
When upload fails in some case (different stamp id fetched) for example, the uploader is still returning 0, causing the events being sent without proper trace file uploaded.

This is due to a bug in the uploader that the exception is swallowed.

There should be a fix in the next release.

[2019-11-22 22:58] xiaomi7732 opened #64 "Bucketing sample caught"
In a busy website, it doesn't make sense to gather every single requests if they are similar. It probably is better to bucketing the requests and recording activities in buckets of operations and duration.

[2019-11-25 13:43] cothman commented on #62
@xiaomi7732 Thanks for the reply.
Actually our API uses StructureMap as DI. We are working on a migration to Lamar (it will take some time to implement).
I tried the exculde way in ConfigureContainer, it doesn't seem to be working.

[2019-11-26 19:35] xiaomi7732 opened #65 "Show active iKey in logs"
When there are instrumentation key overwrite, it will be easier for the user to see the target iKey in the logs.

[2019-11-26 19:42] xiaomi7732 opened #66 "The logged trace number doesn't match the valid trace number"
Example:

... \
Service Profiler session finished. Samples: 6

Expected output for the samples: 3.
Actual output for the samples: 6.

[2019-11-26 19:43] #63 closed

[2019-11-26 19:44] xiaomi7732 commented on #63
Refer to: [v2.0.0-beta4](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.0.0-beta4).

[2019-12-02 14:13] #52 closed

[2019-12-02 23:26] xiaomi7732 commented on #62
@cothman Thanks for the update. Yes, exclude anything in `ConfigureContainer` will NOT work because it only works with `StructureMap.AspNetCore`. And in your project, `StructureMap.Microsoft.DependencyInjection` is used than `StructureMap.AspNetCore`. At this point, it doesn't matter what you do in `ConfigureContainer` - you can totally remove it and it still won't work.
It seems that you are alre

[2019-12-11 00:32] SidShetye commented on #66
We're seeing this issue. If it helps, there are a few other AI related log entries right around this

[code]

This is on Azure App Service (Linux Containers), ASP.NET Core 3.1 and `<PackageReference Include="Microsoft.ApplicationInsights.Profiler.AspNetCore" Version="2.0.0-beta4" />`

[2019-12-11 00:34] SidShetye commented on #66
@xiaomi7732 : What is the impact of those warnings and errors? This is in our production application, so if we're missing a few traces, that's ok for now but if it's a bit more serious, we would like to disable AI till this is resolved. Thanks

[2019-12-11 04:04] xiaomi7732 commented on #66
Hi @SidShetye , thank you for noticing the logs and report it back. Depends on the running environment, these warnings could happen more or less frequent.

The impact for the warnings is actually pretty minor - it just give us some insights that mismatch is happening.
The impact for the error is that a trace gathered will be dropped and you might not having the trace for analysis.

Neither should

[2019-12-12 01:28] xiaomi7732 opened #67 "The trace file is not cleaned up when upload failed"
Trace file should be cleaned up as long as PreserveTraceFile is set to false (default) after a trace session.

[2019-12-12 01:59] xiaomi7732 opened #68 "Profiler backend service won't handle traces by Application Insights SDK 2.8 and above"
When AI.SDK 2.8.x is used, no profiler trace will show in the portal - the client will report is success but you won't be able to see it in the portal.

Workaround:
Disable W3C tracing until the issue in the backend is fixed by adding the code in `Startup.cs`:
[code]

Reference:
[Enable W3C distributed tracing support for ASP.NET Core apps](https://docs.microsoft.com/en-us/azure/azure-monitor/app/

[2019-12-12 19:47] xiaomi7732 opened #69 "Skip SSL validation option is not fully honored"
Skip certification validation is not honored in release build
* Configuration fetcher

[2019-12-13 02:20] SidShetye opened #70 "Large TraceUpload20/30.zip files in project"
After adding `Microsoft.ApplicationInsights.Profiler.AspNetCore` `2.0.0-beta4` we're seeing two large files that are added to our project

`\ServiceProfiler\TraceUpload20.zip` 5MB and
`\ServiceProfiler\TraceUpload30.zip` 4MB

Combined, they are about 1/5th of our docker image size so a couple of questions:

1. Why are there *two* ? Both seem under the `netstandard2.0` build of `Microsoft.Applicati

[2019-12-13 19:03] xiaomi7732 commented on #70
@SidShetye Thanks for the feedback. This is the first time we got feedback about the uploader size. Give me some time to investigate this.

At the same time, we deliver both so that it will work for both .NET Core 2.x and .NET Core 3.x. If it would help, can you try deleting the other zip file after build the solution in the building environment?

[2019-12-16 21:47] johnrom commented on #68
Running into this problem with a Windows App as well. None of the documentation references `services.AddServiceProfiler()` on a Windows App, only for Linux Profiler Preview. Does it still need to be done on Windows?

[2019-12-17 18:52] xiaomi7732 commented on #68
@johnrom I assume you are using the profiler described by this page: https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-overview. Then, you don't need `services.AddServiceProfiler()`.

What you need to do is:
At the beginning of the app, do this:

[code]

Also, so that you know, there's a fix on the backen to address this. It will be roll out in couple of days given the testing goes

[2019-12-20 19:22] xiaomi7732 commented on #68
The issue has been fixed by 12/20/2019. Please remove the workaround.

[2019-12-20 19:22] #68 closed

[2019-12-20 20:06] xiaomi7732 commented on #64
Fixed in [2.0.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta5).

[2019-12-20 20:06] #64 closed

[2019-12-20 20:06] xiaomi7732 commented on #69
Fixed in [2.0.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta5).

[2019-12-20 20:06] #69 closed

[2019-12-20 20:08] xiaomi7732 commented on #70
Hey SidShetye, thanks again for your feedback. In [2.0.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta5), we reduced the uploader size to 5.7M for simsihp. We will keep looking for opportunists to reduce the size further.

[2019-12-20 20:08] xiaomi7732 commented on #66
Fixed in [2.0.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.0.0-beta5).

[2019-12-20 20:08] #66 closed

[2019-12-24 02:57] SidShetye commented on #66
What is the testing/Q&A process behind the releases here? Because we're still seeing

[code]

This is happening much more frequently in `beta5`.

[2019-12-24 03:13] SidShetye commented on #66
Also, is there a way to mute app insight logs? @davidfowl - any ideas?

Our equivalent configuration is shown below. We have a custom logger that pages our admins on any warnings but given the way ASP.NET Core logging works ([here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#configuration) `If levels are specified in Logging.{providername}.LogLevel, they

[2019-12-24 03:19] SidShetye commented on #66
Also seeing this in the logs
[code]

[2019-12-24 16:40] SidShetye commented on #70
Thanks, we haven't had a chance to audited our container size on beta5 yet. [This nuget document](https://docs.microsoft.com/en-us/nuget/create-packages/supporting-multiple-target-frameworks) about multi-targeting might also help.

[2019-12-27 01:07] xiaomi7732 commented on #66
@Sid thanks for your feedback. The warnings are there for debugging purpose. We'll look into lower the level.

As for now, to mute Profiler logs, try the following settings:
[code]

[2020-01-02 23:42] xiaomi7732 commented on #62
Close this as there's nothing actionable from profile perspective. Feel free to open new issues.

[2020-01-02 23:42] #62 closed

[2020-01-03 22:12] #57 closed

[2020-01-07 15:46] stweedie opened #72 "Add override to UseServiceProfiler for our own config"
Currently, there is no way to pass in a UserConfiguration instance. The only way to configure the profiler is by passing in my entire application's IConfiguration (which also assumes that the relevant config is stored on an arbitrary property in your appsettings.json ("ServiceProfiler"). or by passing an Action such that I set every property of the config manually.

Unless I have intimate knowledg

[2020-01-07 19:55] pharring commented on #72
I think you're supposed to do this:
[code]

[2020-01-08 01:06] xiaomi7732 commented on #70
@SidShetye Thanks again for the suggestion. The nuget packages has been updated to deliver different version of uploader for different target framework (actually, netstandard 2.0 vs netstandard 2.1).
The change will be in the next release unless we found block issues. I'll close this thread once the release is there.

[2020-01-15 11:03] PiotrBrzezianski opened #73 "Error "System.Diagnostics.Tracing.EventPipe type == null""
I have an ASP.NET Core Web API running on full .NET Framework and I'm following steps in
https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/tree/master/examples/EnableServiceProfilerInVSCLR2_2_Win

When I enable the Profiler I get following error at startup:
[code]

Relevant parts of csproj:
[code]

I'm running this API in Kestrel in Debug straight from Visual Studio 2019.

[2020-01-15 18:29] xiaomi7732 commented on #73
@PiotrBrzezianski Thanks for the report. Unfortunately, the technology this profiler based on is implemented in .NET Core runtime only.

Have you considered using [the traditional Profiler here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-overview)?

[2020-01-16 08:59] PiotrBrzezianski commented on #73
Thank you for clarification. Unfortunately we're deploying this in docker (Windows containers) because of 3rd party dependencies... So looks like we just have to finish transition to .NET Core first.

[2020-01-16 18:49] xiaomi7732 commented on #73
I'll close this issue. Feel free to open issues if there's anything else that we can help.

[2020-01-16 18:51] xiaomi7732 commented on #73
Actually, second think, we probably should give out a better message to begin with. Re-open this issue for tracking the enchancement.

[2020-01-23 19:26] xiaomi7732 commented on #52
Hey @valeriob, just FYI, the hosting startup for .NET Core 3.x is coming soon in version 2.1.0-*.

[2020-01-26 19:23] valeriob commented on #52
Thanks! i'll keep an eye on that !

[2020-01-27 20:38] johnrom opened #74 "No activity detected from target iKey."
I'm having trouble getting profiler traces for a Windows App Service. I've gone over the documentation [here](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-troubleshooting) a half dozen times. I have some webjobs on the same service, and one of the webjobs has profiler traces, but the main application does not. I've emailed serviceprofilerhelp@microsoft.com but haven't received

[2020-01-27 21:34] pharring commented on #74
@xiaomi7732 can you advise?
@johnrom I'm sorry you didn't get a response from the support alias. I'm on that alias and I found your message from 1/14/2020 in my Junk folder -- it's probably the same for other on the alias. Sorry about that. I'll bump it to the top and reference this issue.

[2020-01-27 21:44] johnrom commented on #74
Thanks for the quick reply! I'm experimenting with deleting the webjobs on staging, so I'll see if that helps.

[2020-01-28 01:17] xiaomi7732 commented on #74
@johnrom I am sorry we missed your mail earlier. There are 2 app insights profiler now. Can we confirm which Profiler you are using at this point?
- Are you using the **traditional** Profiler by documentation here: https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-overview
- Or are you using the **EventPipe** Profiler by this repository / on nuget.org like [this one](https://www.nu

[2020-01-28 01:25] xiaomi7732 commented on #70
Find the release in [v2.1.0-beta1](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.1.0-beta1).

[2020-01-28 01:25] #70 closed

[2020-01-28 01:26] xiaomi7732 commented on #65
https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.1.0-beta1

[2020-01-28 01:26] #65 closed

[2020-01-28 01:28] xiaomi7732 commented on #58
Hard dependency to Application Insights 2.12.0 is introduced for [2.1.0-beta1](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.1.0-beta1) and above. That said, the dependency might be dropped by user push back.

[2020-01-28 01:28] #58 closed

[2020-01-28 01:29] xiaomi7732 commented on #56
Fixed in [2.1.0-beta1](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/releases/tag/v2.1.0-beta1)

[2020-01-28 01:29] #56 closed

[2020-01-28 01:30] #72 closed

[2020-01-29 16:34] johnrom commented on #74
Hi @xiaomi7732 , I'm using the traditional profiler. I didn't install the EventPipe profiler because I only read that it is necessary for Linux apps. I'll follow up with a support email.

[2020-01-29 18:46] xiaomi7732 commented on #74
Okay. I'll close this issue for now. Feel free to contact / create new issues.

[2020-01-31 20:54] johnrom commented on #74
I sent an email related to this, but did not receive a response.

[2020-01-31 23:15] xiaomi7732 commented on #74
@Johnrom, again, I found your mail in the **Junk Email**. I'll keep this issue open until your issue got resolved.

[2020-02-13 09:41] Eneuman opened #76 "ANSI coloring of debug output"
Reading the debug output of ServiceProfiler is hard because it's using ANSI coloring.
Visual Studio 2019 does not support ANSI coloring in debug window so the output looks like this:

[40m[37mdbug[39m[22m[49m: ServiceProfiler.EventPipe.Client.ServiceProfilerProvider[0]
      Entering StartServiceProfilerAsync.
[40m[37mdbug[39m[22m[49m: ServiceProfiler.EventPipe.Client.ServiceProfilerProv

[2020-02-13 17:32] pharring commented on #76
The Console Logger has a ConsoleLoggerOptions.DisableColors property.
You should set it to 'true' in your configuration (appsettings.json)

[2020-02-18 19:01] xiaomi7732 commented on #76
@Eneuman I just want to follow up a bit since it has been days. Does the answer from @pharring solves your issue?

[2020-02-18 19:05] Eneuman commented on #76
Yes it did!
Thanks @pharring

Really hope the VS team can fix colouring in the window. VS Code already got it.

________________________________
Från: Saar Shen <notifications@github.com>
Skickat: Tuesday, February 18, 2020 8:01:50 PM
Till: microsoft/ApplicationInsights-Profiler-AspNetCore <ApplicationInsights-Profiler-AspNetCore@noreply.github.com>
Kopia: Per Bornsjö <per.bornsjo@links.se>; Menti

[2020-02-18 19:06] #76 closed

[2020-02-19 22:49] gouthampai opened #77 "Getting System.IO.FileNotFoundException when running profiler on Azure App Service"
I'm running some .net core 3.1 APIs in azure app service and was taking a look through the exceptions in app insights. Something that stuck out to me was a large amount of `System.IO.FileNotFoundException` caused by the profiler trying to stop and being unable to find the file `D:\home\site\wwwroot\ServiceProfiler\Azure.Core.dll` . If it helps at all, this is a self contained deployment targeting

[2020-03-04 20:49] khowling commented on #66
I have the same issue, with a very small .NET Core 3 app.  Did you get any resolution to this?

[2020-03-13 14:33] skwasiborski opened #78 "Public API to start/stop profiling"
It would be great if there was a public API that would allow the application to trigger profiling. I know that I can trigger the profiling from azure portal from application insights but I have multiple services connected to single application insights resource and would like to be able to trigger profiling only on selected services. It would also be beneficial to be able to disable any automatic

[2020-03-18 12:11] skwasiborski opened #79 "AddServiceProfiler causes a crash if instrumentation key is not provided"
In case instrumentation key is not provided AddServiceProvider extension causes crash during asp.net core startup.

[code]

[2020-03-24 22:00] xiaomi7732 commented on #79
@skwasiborski That behavior is expected because instrumentation key is an essential part of the system to work. What's your suggestion to form the behavior?

[2020-03-24 22:05] xiaomi7732 commented on #78
Sounds like a useful feature. I'll bring it to the team for a discussion.

[2020-03-24 22:13] skwasiborski commented on #79
Application Insights normally does not throw when the instrumentation key is not set. Arguably in server setup AI without instrumentation key is as useless as the profiler.

Current behaviour means I cannot run my service locally without providing instrumentation key (which I do not want to do) or modifying my code which I also do not want to do.

In my opinion it the profiler should not throw exc

[2020-03-24 22:53] sywhang opened #80 "Multiple ServiceProfiler instances may be created at a time"
While debugging a potential memory leak in the CoreCLR runtime / ServiceProfiler I ran across few times when there are more than a single ServiceProfiler session tracked by the runtime:

[code]

Of these, two of them are from ServiceProfiler:

[code]

[code]

The configuration I used to set up ServiceProfiler is shown below:
[code]

[2020-03-25 16:28] xiaomi7732 commented on #80
@sywhang Thanks for the info. I'll take a look.

[2020-03-25 16:30] xiaomi7732 commented on #79
@skwasiborski, fair enough. I'll make a fix.

[2020-03-31 14:13] uncleyo opened #81 "AddServiceProfiler() overwrites ApplicationInsightsServiceOptions"
I'm using the latest `2.1.0-beta1`.

The way `AddServiceProfiler()` is implemented internally (any of its overrides), it registers own `ApplicationInsightsServiceOptionsDefaultConfigurationMirror` as `IConfigureOptions<UserConfiguration>` in the service collection and eagerly uses that immediately.
Even if `AddApplicationInsightsTelemetry` has been called and is configured properly already at that

[2020-03-31 16:33] xiaomi7732 commented on #81
@uncleyo thanks for the report. I'll see what I can do.

[2020-03-31 16:41] uncleyo commented on #81
To be honest, the whole assumption that `appsettings.json`/`appsettings.<env>.json`/`environment variables` is the only way you should configure an app is at odds with even some of MS products, like Azure App Configuration, not to mention User Secrets in Visual Studio and such.

And this should probably be addressed in `AddApplicationInsightsTelemetry` too.

[2020-03-31 17:30] xiaomi7732 commented on #79
Fix available:
![image](https://user-images.githubusercontent.com/3674549/78056829-9860ce80-733a-11ea-9241-b8994a783ab6.png)
Will be rolled out within the next release.

[2020-04-02 21:17] yaananth opened #82 "NULL_POINTER_READ_NOSOS_c0000005_coreclr.dll!MethodDesc::GetMethodInfo from application insights?"
Hello,

We got some crashes and by analyzing the dump looks like application insights might have crashed this.

Any 👀 into this is much appreciated 🙇

Dump: https://azurewatson.cloudapp.net/dumps/2275357616

<details>

<summary> !clrstack -a</summary>

[code]

</details>

<details>

<summary>k</summary>

[code]

</details>

<details>

<summary>!dso `ServiceProfiler.EventPipe.Client.EventListeners.

[2020-04-03 00:16] xiaomi7732 commented on #77
@gouthampai, Based on the callstack, Azure.Core.dll doesn't exist in the 'ServiceProfiler' folder.

I verified the scenario with self-contained application on app service (win-x86). Unfortunately, I can't reproduce the issue you are seeing.

Based on that, there might be some step that I didn't notice that leads to this situation.
* Is it possible for you to post a copy of the ServiceProfiler fold

[2020-04-03 00:28] gouthampai commented on #77
My ended up remediating the issue by removing the profiler for now.

On Thu, Apr 2, 2020, 8:16 PM Saar Shen <notifications@github.com> wrote:

[2020-04-03 00:37] xiaomi7732 commented on #82
@yaananth Thanks for bring this up. I have a guess on what is going on based on the stack you pasted there. I want to double check with the dump file but I can't seem get access to it. Is it possible for you to share with us the dump somehow internally? (My mail is saars@microsoft.com).

[2020-04-03 12:05] yaananth commented on #82
@xiaomi7732 thank you! I have the dump link pasted there, it has to be done by remote debugging, you could start by requesting JIT access, I will ping you in teams later today.

[2020-04-03 17:19] xiaomi7732 commented on #77
Sure. Please feel free to create issue when you decide to enable the profiler again. I'll close this issue for now.

[2020-04-03 17:19] #77 closed

[2020-04-03 17:19] xiaomi7732 commented on #82
Got your message. I'll work with you over Teams.

[2020-04-03 19:24] xiaomi7732 commented on #82
@brianrob, @sywhang This crash happens when we try to call Disable() using reflection to CLR. Any idea what happened? Related code snippet on our side:
[code]

[2020-04-03 21:34] brianrob commented on #82
@swhang, can you take a look at this please?

[2020-04-03 21:35] sywhang commented on #82
@brianrob yup, I'm already on it :)

[2020-04-03 21:36] brianrob commented on #82
Thank you very much!

[2020-04-06 16:44] xiaomi7732 commented on #82
@yaananth, to answer your question, eventpipe is used for profiling. It will be turned on / off **randomly** to gather profiling traces from various time. It will be on for 2 minutes then turn off by the default settings.
We can't keep profiling always on because there is an overhead with it. The trace file generated at the end of a profiler session is neither small.

Question for you, what is you

[2020-04-06 16:59] yaananth commented on #82
@xiaomi7732 our's is a .NET CORE application. If you can access, here is the [PR](https://dev.azure.com/mseng/AzureDevOps/_git/AzDevNext/pullrequest/539273?_a=files&path=%2FVssf%2FSdk%2FStartup.Core%2FVssfCoreStartup.cs) that enabled this. Feel free to ping on teams (`yaananth`) to discuss more.

Thanks!

[2020-04-08 12:01] mkleijn opened #83 "File not found when uploading trace in AspNetCore 3.1 service in Service Fabric cluster"
I tried to profile my service by including this nuget and use the environment variable to set the hosting startup assembly. It looks like the profiling gets triggered, but it goes wrong when uploading the trace logs:

System.ComponentModel.Win32Exception (2): The system cannot find the file specified.
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at System.

[2020-04-08 17:53] xiaomi7732 commented on #83
@mkleijn Thanks for the report. The profiler hasn't been tested within Service Fabric. Have you tried the traditional [App Insights Profiler](https://docs.microsoft.com/en-us/azure/azure-monitor/app/profiler-servicefabric?toc=/azure/azure-monitor/toc.json)?

That said, we are interested to understand why it is not working for you. Could you please lay more info out for us to understand the environ

[2020-04-09 07:33] mkleijn commented on #83
@xiaomi7732 Thanks for your reply. I tried the traditional one but never managed to get any results with it back when i used .NET Core 2.x. By now the project i'm working on has been migrated to .NET Core 3.1 and as I understood currently the only way of profiling these apps is by using this nuget, correct?

My environment:
- OS: Windows (DataCenter Core 2019 image running on a D2v2 vm in Azure, t

[2020-04-09 17:19] xiaomi7732 commented on #83
@mkleijn Hey, thanks for the detailed info. It is great that you have access to the SF (Service Fabric) node. Here's the code to search for uploader, do you think it will find the uploader properly?
[code]

Also, if you set log level of ServiceProfiler to debug, there shall be logs to help see what path has been searched.

[2020-04-09 18:03] mkleijn commented on #83
I expect that it can locate the zip file as its content got extracted into the directory it resides in.

But I'll try to change the log level of the profiler so I can test it. Can I do that with a environment variable or something?

[2020-04-09 18:45] xiaomi7732 commented on #83
Yes, set:
[code]

For details, refer to [Configurations](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/Configurations.md).

[2020-04-14 13:42] mkleijn commented on #83
Hi xiaomi7732, i notice some messages indicating

Exception type	ServiceProfiler.EventPipe.Client.TraceValidators.ValidateFailedException
Exception message	[ActivityListValidator] No sample activity matches the trace.

ServiceProfiler.EventPipe.Client.TraceValidators.ValidateFailedException: [ActivityListValidator] No sample activity matches the trace.
   at ServiceProfiler.EventPipe.Client.TraceV

[2020-04-14 16:47] xiaomi7732 commented on #83
@mkleijn Thanks for noticing that. The issue of validation may happen occasionally. That normal as long as it doesn't happen all the time. Also, it won't proceed to looking for uploader if the validation failed.
The issue here that it can't find uploader is abnormal. Did you get a chance to run it with debug level? Is it possible for you to share the logs here?

[2020-04-14 16:56] xiaomi7732 commented on #82
@yaananth, @sywhang & I looked the dump together. The call stack went beyond the Profiler stopping into the CLR for a few more frames but it doesn't seem like the clr is causing the crash. @sywhang had shared the info for the team to look into possible heap crash.

@yaananth could you please post us when there's an update? Thanks!

[2020-04-14 17:53] yaananth commented on #82
@xiaomi7732 sent an email and cc'd you guys on it.
Heard no update yet.

[2020-04-15 00:07] xiaomi7732 opened #84 "Investigate using IApplicationLifetime.ApplicationStopping vs. Process.GetCurrentProcess().Disposed event for graceful exiting process"
The current implementation uses Process.Disposed event for gracefully quit profiling. Look and compare with IApplicationLifetime.ApplicationStopping.

[2020-04-16 12:42] yaananth commented on #82
update from thread from @ChrisAhna

These crashes are happening because of the following sequence:

- `CodeHeapIterator` loads a MethodDesc for a dynamic method (i.e., LCG method) and yields it back to the `coreclr!ETW::*` code.
- Due to a latent race condition in the `CodeHeapIterator` usage pattern, the MethodDesc has already been mostly destroyed on another thread.
- This creates a situation wh

[2020-04-21 20:44] yaananth commented on #82
Fix: https://github.com/dotnet/runtime/pull/713 which was already in `5`, discussing to back port to `3.1`

[2020-04-27 18:54] xiaomi7732 commented on #81
Fix released in:
* [Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2)

[2020-04-27 18:54] #81 closed

[2020-04-27 18:54] xiaomi7732 commented on #80
Thanks again for the report. Fix released in:
* [Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2)

[2020-04-27 18:54] #80 closed

[2020-04-27 18:54] xiaomi7732 commented on #79
Thanks again for the report. Fix released in:
* [Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta2)

[2020-04-27 18:54] #79 closed

[2020-04-27 18:56] xiaomi7732 commented on #82
@yaananth I have seen mail thread with regarding to the back porting. Do you still want to keep this issue active for tracking or do you prefer to close it here?

[2020-04-27 18:58] yaananth commented on #82
@xiaomi7732 I am fine either way, I can link the file release fix here when the back porting was done for visibility.

[2020-04-27 19:00] xiaomi7732 commented on #83
Hey @mkleijn it has been a while. Are you still experiencing the issue?

[2020-04-27 19:01] xiaomi7732 commented on #78
@skwasiborski We actually think this is a good idea. Need some time to carry this out.

[2020-04-28 09:20] mkleijn commented on #83
Hi @xiaomi7732,

While i haven't been able to spend much time on the issue, i am still experiencing it yes. Below are some traces that I get in AppInsights after setting the debug level environment var:

trace without traffic:

10:42:17 StartProfiler succeeded.
10:42:17 AI: Process was called on the TelemetrySink after it was disposed, the telemetry data was dropped.
10:42:17 AI: Process was calle

[2020-04-30 12:58] wow-anton opened #85 "IsDisabled: true breaks routing"
When `IsDisabled=true` all controller action return 404.
When `IsDisabled=false` controller actions work again.

App is a basic .netcoreapp3.1 bootstrapped with `dotnet new webapi` template and only added `.AddServiceProfiler()`

Version: **2.1.0-beta2** (2.1.0-beta1 works OK)

[2020-04-30 16:46] xiaomi7732 commented on #85
@wow-anton, thanks for the report. Sounds like a bug. I'll take a look.

[2020-04-30 16:54] xiaomi7732 commented on #83
@mkleijn Refer to [Logging in .NET Core and ASP.NET Core](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1) for how to get the logs in console or files.
Here's a piece of code I use with Serilog for logging files just FYI:
[code]
Let me know if you need more help. Feel free to send logs back and I'd be glad to go over the logs with you.

[2020-04-30 17:34] xiaomi7732 commented on #85
@wow-anton Thanks for reporting this issue. The issue is caused by a code bug I introduced recently.

When the profiler is disabled - either by intentionally set `IsDisabled` to true or by other reasons, no iKey is set, for example - it will break the startup of ASP.NET Core app, thus the controllers can't be reached.

I am issuing a quick fix for it and will post a new release ASAP.

[2020-05-01 17:06] xiaomi7732 commented on #85
Please use [2.1.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta3) instead.

[2020-05-01 17:06] #85 closed

[2020-05-04 06:23] wow-anton opened #86 "Trace Upload is not located when package is referenced indirectly"
Hi,

I was hoping you could help me diagnose this issue.

My web app has an indirect dependency on the AI Profiler package
`MyWebApp` references
-> `My.Toolkit` (nuget package) references
-> `Microsoft.ApplicationInsights.Profiler.AspNetCore`

When I run my application, samples are gathered, but upload fails because the TraceUpload is not found.

`[16:14:09 DBG] File uploader is not found. Try the

[2020-05-04 17:16] xiaomi7732 commented on #86
Hi @wow-anton thanks for the contacting. I don't know the library of `My.Toolkit`, could you please point me to the package on NuGet.org and I will see if I can repro the issue locally.

[2020-05-05 00:44] wow-anton commented on #86
Sorry, I should have clarified that `My.Toolkit` is a fictional nuget package. The point I wanted to make is that when I wrap the AI Profiler plugin inside my own nuget package, `ServiceProfiler/TraceUpload.zip` does not get created on startup.

[2020-05-05 15:47] xiaomi7732 commented on #86
@wow-anton That is good to know. Could you please explain us how are you `wrapping up` the Profiler package? And why aren't the toolkit package directly depend on the profiler package?

[2020-05-08 17:14] MattKotsenas opened #87 "Exception while profiling '[ActivityListValidator] No sample activity matches the trace'"
Hello! I'm getting the following exception when running the profiler

`[ActivityListValidator] No sample activity matches the trace.`

I'm using the following versions:

* Microsoft.ApplicationInsights.AspNetCore 2.14.0 (il:2.14.0-17971)
* Microsoft.ApplicationInsights.Profiler.Core 2.1.0-beta3
* Microsoft.AspnetCore 2.2.0

In the Docker container `mcr.microsoft.com/dotnet/core/aspnet:2.2-stretch-

[2020-05-11 16:54] xiaomi7732 commented on #87
@MattKotsenas Thanks for the report. Firstly, please help me confirm my understanding:
* This issue doesn't crash your application, however, the fact this error happens generates noise in your logs, correct?
* This happens once a while but this doesn't happen every time profiler run, right?

. The issue you encountered root in the fact that there's a level of suitableness between the Application I

[2020-05-12 01:36] wow-anton commented on #86
Sure.

**Could you please explain us how are you wrapping up the Profiler package?**
`My.Toolkit` is my own netstandard 2.0 class library. It has a package dependency on `Microsoft.ApplicationInsights.Profiler.AspNetCore`. I have published `My.Toolkit` as a nuget package to my own private nuget repository.

`MyWebApp` is my ASP.NET Core 3.1 web app. It in turn has a dependency on `My.Toolkit`. Whe

[2020-05-12 18:04] MattKotsenas commented on #87
Hi @xiaomi7732!

Correct, this issue doesn't crash the app, and I will apply the workaround to avoid logging non-critical `ServiceProfiler` events to avoid muddying our logs.

I do still have the concern that throwing exceptions, even if only occasionally, has a negative impact on the performance of our app, which we have to mitigate by reducing our `RandomProfilingOverhead`, which isn't ideal.

L

[2020-05-13 15:45] johnrom commented on #74
Just checked in and I'm seeing Traces now, so a push between Jan 31 and now must have resolved this!

[2020-05-13 15:45] #74 closed

[2020-05-19 17:22] xiaomi7732 opened #88 "Target request data is not valid upon receiving requests on .NET Core 3.1 + AI.SDK.2.14.0"
We are investigating an issue for the combination of .NET Core 3.1 + Microsoft.ApplicationInsights.AspNetCore 2.14.0.

At the same time, it works when using [Microsoft.ApplicationInsights.AspNetCore 2.13.1](https://www.nuget.org/packages/Microsoft.ApplicationInsights.AspNetCore/2.13.1).

The symptom is:

Multiple errors of this kind:

And samples gathered toward the end of the profiling session.

[2020-05-21 17:10] xiaomi7732 commented on #87
@MattKotsenas Thank you so much for the effort. We are a bit hand tight here since the .NET Core 2.2 is already at the end of it's support life cycle. That said, The fix for #88 might reduce the chance of this happening.

I'll close this issue for now. Feel free to open new issues when needed.

[2020-05-21 17:10] #87 closed

[2020-05-21 19:07] xiaomi7732 commented on #86
Hi @wow-anton, thanks for the update. I did some dig around the issue. The problem is the content files not not implicitly added and that is an NuGet limitation at this point. Refer to [#9474](https://github.com/NuGet/Home/issues/9474) for details.

Until the issue is addressed, I am afraid we have limited options here.

One way would be asking the final project owner to take a dependency on `Micr

[2020-05-22 01:06] wow-anton commented on #86
Hi @xiaomi7732 thanks for the follow-up and clarification.

We went ahead with the direct dependency workaround.

[2020-05-26 16:51] #86 closed

[2020-05-29 17:11] xiaomi7732 commented on #88
The fix is released: [2.1.0-beta4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta4).

[2020-05-29 17:11] #88 closed

[2020-05-29 17:14] xiaomi7732 commented on #82
@yaananth Hey, it has been a while, is there an update? :-)

[2020-05-29 17:16] yaananth commented on #82
:) nope the latest one was:

So when june kicks off (soon), I will follow up

[2020-05-29 17:18] pjquirk commented on #82
It looks like the fix was backported and is slated for 3.1.5: https://github.com/dotnet/coreclr/pull/28036

[2020-06-05 00:59] spike008t opened #89 "Profiler seems not working under docker"
I'm trying to make Profiler works under docker.
I actually using the latest `dotnet/core/sdk:3.1-alpine` docker image.
I'm actually using the latest packages available (based on `dotnet list packages` command):

[code]

The debug output when running the docker image locally:

[code]

Any idea how to make it works under docker container? And why the validation failed? (the aim is to deploy it on an

[2020-06-05 09:32] saurabhpati commented on #89
facing same issue for dotnet core 2.2, ```mcr.microsoft.com/dotnet/core/sdk:2.2```

I have tried adding this in the docker file:

[code]

and relevant argument in docker-compose.yml

[code]

[2020-06-11 10:00] Eneuman opened #90 "Matched sample count does not equal to gathered sample count"
Hi,

There seem to be a problem with the validation of events in the ActivityListValidator
It only finds one event, no mather how many events that has been gathered.

I keep getting debug messages like this:
`Matched sample count does not equal to gathered sample count. Expected: 91, Actual: 1`

Otherwise, the Profiler seems to working fine:
`Debug: 1 events has been sent to AI as CustomEvents`

W

[2020-06-11 22:33] xiaomi7732 commented on #89
@spike008t, I'll take a look.

[2020-06-11 22:36] xiaomi7732 commented on #90
@Eneuman, what the validator do is to check if there's proper the start/stop events that could form up  the requests.
I'll see if I can repro the issue.

[2020-06-12 00:48] xiaomi7732 commented on #89
Hi @spike008t , I tried a simple webapi on alpine and it looks like it worked for me.
Could you please turn on **Trace** logs and run it again and send over the logs for analysis?

My logs just FYI:
[code]

[2020-06-12 00:49] xiaomi7732 commented on #89
And here's my docker file just FYI:
[code]

[2020-06-12 00:52] xiaomi7732 commented on #89
@saurabhpati Your repro is in .NET Core 2.2 Ubuntu container, could you please open another issue, turn on the Trace logs? I'll help you troubleshooting there.

[2020-06-12 00:54] xiaomi7732 commented on #90
@Eneuman, could you please set the log level for Profiler to 'trace' and run it again? Then, paste the full logs here and I'll take a look.

[code]

[2020-06-12 07:31] Eneuman commented on #90
Hi and thanks for your quick reply

Here is the requested log.
[ServiceProfiler Log.txt](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/4769373/ServiceProfiler.Log.txt)

[2020-06-12 17:13] xiaomi7732 commented on #90
@Eneuman, thanks for providing the logs. I checked it, there are 2 interesting activities:
/#46/1/3/ & /#46/1/5/, however, the stop event were not found during the validation:
[code]
This is interesting. I need the trace to file to understand why the stop events were not there.

Can you set 'PreserveTraceFile' to true in the configuration and run it again? Toward the end of the logs, it will revea

[2020-06-12 17:21] xiaomi7732 opened #91 "Provide a user configuration to bypass the validators"
It will be a convenient to keep uploading the trace file even when the validation fails for troubleshooting purpose.
See recent troubleshooting #90

[2020-06-12 19:12] Eneuman commented on #90
Hi

Here are the logs as requested :)

[ServiceProfiler.zip](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/4772751/ServiceProfiler.zip)
[ServiceProfiler Log2.txt](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/4772753/ServiceProfiler.Log2.txt)

[2020-06-12 19:31] xiaomi7732 commented on #90
@Eneuman By the trace, I think I know what the issue is, the request you have finished `too fast`:

![image](https://user-images.githubusercontent.com/3674549/84539473-50e6af00-aca8-11ea-8b50-3a3f15e8c531.png)

My guess is either:
* The request does almost nothing, or
* There is an exception around the code trying to access service bus.

In any case, it leads to no valid request for performance an

[2020-06-12 19:42] Eneuman commented on #90
I am using Azure Service Bus so I’m gonna see if I can trace any errors in there.

But it should be some other events in there as well since I made at least 20 calls to a api in that service.

Any idea why these where not send?

[2020-06-12 22:06] xiaomi7732 commented on #90
Yes, you are right @Eneuman. Let me spend some time on why there's only 2 activities captured.

[2020-06-12 22:57] xiaomi7732 commented on #90
This is interesting. It looks like there's something going on on the .NET Core CLR that leads to the events being missed.
I am passing this on to @sywhang, whom works for .NET Core CLR team, to examine the code around EventPipe.

[2020-06-15 17:42] xiaomi7732 commented on #82
It seems the fix is in the pipe. I'll close this issue due to no further action item here. Thank you all.

[2020-06-15 17:42] #82 closed

[2020-06-18 17:58] xiaomi7732 commented on #90
@Eneuman @sywhang is still helping reviewing the trace file. At the same time, any luck fixing the exceptions around the service bus?

[2020-06-30 16:44] yaananth commented on #82
This is in `3.1.5` https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.5/3.1.5.md#changes-in-315

[2020-07-02 11:48] Eneuman commented on #90
@xiaomi7732 Yeah, it seems to be a internal thing in the Service Bus SDK. It throws a 409 when trying to access subscription rules.  There is a open thread about this. Any news about the trace file analysis ?

[2020-08-09 22:15] xiaomi7732 opened #93 "Trying to access performance counter when deployed to azure (windows) throws exception"
Call stack:
[code]

[2020-08-14 16:55] dewanymca opened #94 "Put profiler logs at custom folder location"
We are running our application in non privileged container and marked filesystem as readonly. While running profiler we are seeing below error and i think we are getting into issue because of read only file system, so we want a way to provide a environment variable which specify path where these file can be write.

fail: ServiceProfiler.EventPipe.Client.ServiceProfilerProvider[0]
      Expected tr

[2020-08-14 16:59] xiaomi7732 commented on #94
We are hard-coding the temp trace file to be put under %temp%. We will need to provide a way to allow overwriting the trace working folder.

[2020-08-17 19:05] xiaomi7732 commented on #94
@dewanymca Please checkout [2.1.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta5). Configuration details are documented here: [Configurations](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/Configurations.md). Looking for the configuration of `LocalCacheFolder`.

[2020-08-18 15:56] LukeRH opened #96 "Method not found exception when using environment variable"
Hi,
I get the following exception when adding the environment variable ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.ApplicationInsights.Profiler.AspNetCore:

System.MissingMethodException: 'Method not found: 'Microsoft.AspNetCore.Hosting.IHostingEnvironment Microsoft.AspNetCore.Hosting.WebHostBuilderContext.get_HostingEnvironment()'.'

My Project is a containerised .net core app 3.1 but i can rep

[2020-08-18 20:02] LukeRH commented on #96
Just found an example where the env variable is set to Microsoft.ApplicationInsights.Profiler.HostingStartup30 for .net core 3.1 and it no longer throws the exception. It would be good if this difference in setup was clearer in the documentation.

[2020-08-19 06:17] xiaomi7732 commented on #96
[code]

[2020-08-19 06:34] xiaomi7732 commented on #94
It looks like the uploader needs to be extract to the writable folder too for it to work E2E:

[code]

[2020-08-21 06:14] xiaomi7732 commented on #94
Please try this out:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.1.0-beta6
It should use the cache folder for unzipping the uploader.

[2020-08-25 22:34] xiaomi7732 commented on #94
Synced offline. The E2E scenario works with 2.1.0-beta6 and close this issue.

[2020-08-25 22:34] #94 closed

[2020-08-25 22:34] #96 closed

[2020-09-01 21:28] s-krawczyk commented on #83
Hi, I have same issue on dotnet core 2.2 on ASF. Can you give some info what is going on? Any progress?

[2020-09-01 23:53] xiaomi7732 commented on #83
@s-krawczyk Thanks for the contact. I understand you might have some similar issue. Could you please start another issue on github for troubleshooting? Please attach the logs for the error whenever possible.
I have a guess that the issue might be there's not a writable temp folder.

[2020-09-02 06:25] s-krawczyk opened #97 ""The system cannot find the file specified""
After connecting package to dotnet core 2.2 app hosted on ASF I am getting such exception:

   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at System.Diagnostics.Process.Start()
   at System.Diagnostics.Process.Start(ProcessStartInfo startInfo)
   at ServiceProfiler.EventPipe.Client.UploaderCallers.OutOfProcCaller.Execute()
   at ServiceProfiler.EventPipe.Cli

[2020-09-02 10:04] buzzaII opened #98 "Is there planned support for Azure Functions running in containers / aks?"
Just wondering if there is planned support of having this run in Azure Functions in a container?

[2020-09-02 16:43] xiaomi7732 commented on #97
@s-krawczyk Thanks for the detailed logs. It seems like the issue is the uploader can't be unzipped. Do you know does your app have permission to write to target folder highlighted below:
![image](https://user-images.githubusercontent.com/3674549/92011545-0e110200-ed00-11ea-80a8-e51fee542443.png)

If there is a different folder with write permission, could you overwrite `LocalCacheFolder` to redir

[2020-09-02 16:45] xiaomi7732 commented on #98
Hi @buzzall, there's currently **no plan** to expand to Azure Function support.

[2020-09-02 16:46] #93 closed

[2020-09-03 11:42] mkleijn commented on #83
Hi @xiaomi7732,

In the end for me it just suddenly started working. I don't know what I changed in the end to make it work, whether it was a nuget update or that some changes in initializing the ApplicationInsights packages for Service Fabric.

I do still occasionally get the same error though:

[code]
From the debug snapshot i find the following values for the parameters supplied to the DefaultC

[2020-09-03 17:09] xiaomi7732 commented on #83
@mkleijn Thanks for the callback.
Now that I see the path, there could be a few reasons:
* the issue is the path to the extracted uploader is too long.
* the service fabric somehow is interfering the app under the package folder.

Either way, putting the uploader to a different folder should resolve the issue.

If you don't mind, try set the profiler cache folder to the path that is shorter:
`Loca

[2020-09-09 09:15] mkleijn commented on #83
@xiaomi7732  Am i responsible for making sure that directory exists, or will it be created if it doesn't? And is it safe to have multiple processes use the same temp dir? Or should I use e.g. D:\SPCache\Service1 and D:\SPCache\Service2 etc.

[2020-09-09 16:36] xiaomi7732 commented on #83
@mkleijn Thanks for the questions.
1. The folders will be created if not exists. One catch is, make sure the apps have permissions to create the folders.
1. Same folder for multiple processes should be fine.

[2020-09-10 11:45] Danielovich opened #101 "SocketException"
I am not sure if this is at all relevant, but I am starting to see a lot of SocketExceptions for a service oriented system where all services (+20) go through the same service to log.

This stacktrace which is saying nothing about my code, but is pointing to a direction of perhaps request exhaustion of my requests to ApplicationInsights.

System.Net.Http.HttpRequestException:
   at System.Runtime.

[2020-09-14 17:43] xiaomi7732 commented on #101
@Danielovich Thanks for filing the issue with detailed call stack. There's some info that I want to confirm with you so that we know it's the right direction for the investigation:
1. This is about the traditional App Insights Profiler, right? (Microsoft.ServiceProfiler.Agent.FrontendClient, Version=**2.6.1909.2701**).
1. Are you seeing this issue only when the application is deployed? Are applica

[2020-09-15 11:54] Danielovich commented on #101
@xiaomi7732 Thanks for replying!

1. Not sure, we are simple utilizing Microsoft.ApplicationInsights and Microsoft.ApplicationInsights.AspNetCore, both version 2.14.0.
2. We are seeing this when the app is deployed yes and all services run under app services.
3. .NET core 3.1
4. We run 20 app services under 1 service plan (P3V2). I haven't tried to run a service under a different plan, not sure I

[2020-09-17 00:52] xiaomi7732 commented on #101
@Danielovich Thanks for post back. Having 20 app services running on 1 service plan is going to cause trouble for the profiler to run.
Do I understand correct that you are trying to use Application Insights but no necessary to having profiler up & running? In that case, do you mind to try disable the profiler for all your apps like this (Note: go to the `app service` resource, not `app insights` r

[2020-09-18 10:08] mkleijn commented on #83
@xiaomi7732 I tried changing the local cache folder, but the problem remains. I still get an error the file cannot be found, in the debug snapshot is see the argument passed to the shell now is:

"D:\\AITemp\\SP\\Microsoft.ApplicationInsights.Profiler.Uploader.dll -t \"D:\\AITemp\\SP\\7f22be73-391d-4dd9-a331-ff243d22e2da.netperf\" -i 2a863931-f1e1-4772-b180-f3239d321206 -d 2c5916f8-36b5-43ff-81b4-

[2020-09-18 19:13] xiaomi7732 commented on #83
@mkleijn Thanks for the feedback. The customize location is working by reading the path you posted. Yes, successfully uploaded traces will be deleted automatically.

Only when you have time, could you please check to see if the file of `D:\AITemp\SP\7f22be73-391d-4dd9-a331-ff243d22e2da.netperf` in your log exists? That will help determine if that is a racing condition you mentioned.

[2020-09-21 16:42] xiaomi7732 commented on #101
@Danielovich, did you get a chance to try it?

[2020-09-21 16:42] xiaomi7732 commented on #97
@s-krawczyk, have you get a chance to try it?

[2020-09-21 17:10] s-krawczyk commented on #97
Not yet. Will try to find time this week.

pon., 21 wrz 2020, 18:43 użytkownik Saar Shen <notifications@github.com>
napisał:

[2020-09-21 20:45] xiaomi7732 commented on #97
Thanks for the update.

[2020-09-21 23:12] xiaomi7732 opened #102 "Keywords filter in effective starts Microsoft.ApplicationInsights 15.0. Listener needs update accordingly."
This will prevent profiler to work with MS.ApplicationInsights.AspNetCore 15.0.

The symptoms are:
1. Will always get: There is no matched start activity found for this request id: `xxxx`. This could happen for the first few activities.
1. Trace validation will always fail.

[2020-10-01 20:45] dstj commented on #102
@xiaomi7732
You mean ApplicationInsights version 2.15.0, right?

Can I run the latest Profiler (2.2.0-beta1) on Linux with ApplicationInsights 2.14.0, then?

[2020-10-01 21:04] xiaomi7732 commented on #102
@dstj Thanks for the ask. Yes, 2.2.0-beta1 + Application Insights 2.14.0 will work.

[2020-10-01 21:39] dstj opened #103 "Exception "Invalid operation on start activity cache. Fail to record the activity.""
Using 2.2.0-beta1 w/ ApplicationInsights 2.14.0, I have got the following error in my logs.

[code]

This happened twice back to back, early on after starting the process, then no longer. And I noticed that no Upload logs are presents (no idea if that related?). I restarted the process after from scratch and the error did not occur.

Attached are all the ServiceProfiler logs leading to the error a

[2020-10-05 23:26] xiaomi7732 commented on #103
@dstj thanks for your feedback. I'll take a look.

[2020-10-05 23:51] xiaomi7732 commented on #103
This could trace back to: https://github.com/dotnet/runtime/issues/26868.
I'll issue an fix to the bug.

[2020-10-13 17:44] xiaomi7732 commented on #103
The fix is released with the latest package: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta2

[2020-10-13 17:44] #103 closed

[2020-10-13 17:44] xiaomi7732 commented on #102
Please update to use the latest bits with application insights 15.0:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta2

[2020-10-13 17:44] #102 closed

[2020-10-13 17:45] xiaomi7732 commented on #91
The fix is released here:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta2

Keep this issue open until the configuration documentation is updated along with it.

[2020-10-13 21:18] xiaomi7732 commented on #101
Close this due to no actionable at this moment. Feel free to open new issues.

[2020-10-13 21:18] #101 closed

[2020-10-13 21:20] xiaomi7732 commented on #97
Close this issue due to no actionable on the profiler side. Feel free to file new issues if there's more problem.

[2020-10-13 21:20] #97 closed

[2020-10-13 21:39] xiaomi7732 commented on #91
Document updated.

[2020-10-13 21:39] #91 closed

[2020-10-14 20:53] xiaomi7732 opened #105 "Unblock profiler in .NET 5"
ApplicationInsights-Profiler-AspNetCore is intentionally blocking running for .NET 5 because it is not officially supported.

To try Profiler on .NET 5, set `IsSkipCompatibilityTest` to `true`. Refer to [Configurations.md](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/Configurations.md) for instructions.

This issue will be open for tracking until .NET 5 is fully

[2020-10-14 20:54] xiaomi7732 opened #106 ".NET 5 version description is treated malformed for compatibility check"

[2020-10-21 06:25] s-krawczyk commented on #97
Validated it on ASF. What was required to be there is dotnet runtime in PATH variable. This was the reason. Please extend information in exception details what's wrong. It took me a while to find out this.

[2020-10-21 17:19] xiaomi7732 commented on #97
@s-drawczyk Thanks so much for the update.

[2020-10-21 17:21] xiaomi7732 opened #107 "Add possible issues in exception message when uploader can't be found"
Refer to #97 for details

[2020-10-24 21:25] dstj opened #108 "v2.2.0-beta: Unexpected error happens on stopping service profiler - System.ComponentModel.Win32Exception (2): No such file or directory"
Hi,

I'm trying to get the profiler to run under Linux w/ .NET Core 3.1.403. I got the following exception and no trace was uploaded:

[code]

"ServiceProfiler" debug logs leading to that:
[ServiceProfiler-debug-logs.txt](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/5433792/ServiceProfiler-debug-logs.txt)

Possibly (un)related, I'm not sure, but on a previous attempts

[2020-10-26 21:58] xiaomi7732 commented on #108
@dsjt Hey, thanks for posting the callstack. That helps.

There are several potential issues here:

* Please checkout the [supportMatrix](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/master/SupportMatrix.md). 2.2.0-beta2 will not run on .NET Core 3.1.403. Either
    * Mitigate the application to .NET Core 3.1, or
    * Downgrade profiler to [1.1.7-beta2](https://www.nu

[2020-10-26 22:16] dstj commented on #108
@xiaomi7732 Thanks for your help. I had never thought about `dotnet.exe` itself being the file not found, but that makes sense under Heroku's Linux Stack. I didn't realize that the profiler would be calling an external dotnet process for the upload. I'll try to see if can modify the runtime $PATH.

If not, any way to specify the `dotnet.exe` location from the config? Similar to the `LocalCacheFold

[2020-10-27 00:10] xiaomi7732 commented on #108
Hi @dstj, thank you for the quick turn-around.

Sorry, there is no existing way to set the path to **dotnet.exe**. The main reason to make upload out of proc is to avoid uploader crash the app by accident.

That said, if you really have to have a configuration to specify **a full path to dotnet.exe**, submit a PR for a feature request & we will evaluate it. It just the implementation might **NOT**

[2020-10-29 01:42] #108 closed

[2020-10-29 01:46] dstj commented on #108
Thanks @xiaomi7732. I fixed my PATH and now get traces uploaded (and some more "Failed to write the trace file" exceptions, but I'll create another issue for those)

[2020-10-29 02:12] dstj opened #109 "v2.2.0-beta Linux "Failed to write the trace file." on writable folder"
Hi @xiaomi7732

As mentioned a bit in #108, I now have Profiler traces uploading to the Azure Portal, but I also got several "Failed to write the trace file" exceptions from the ServiceProfiler.

Here are the two error logs I see (I don't have the Debug logs this time though)

[code]

[code]

It both cases, it originated from `StartWriteAsync()`. The `ObjectDisposedException` is concerning. Also,

[2020-10-29 18:53] dstj opened #110 "v2.2.0-beta: Linear memory consumption increase. Is this expected?"
Hi (again ;) ),

I just deployed the v2.2.0-beta in my production (low volume production) environment and here's is the memory graph:

![image](https://user-images.githubusercontent.com/467692/97619280-6873c980-19f6-11eb-985a-29617bf2601c.png)

That first steady linear increase over 4 hours is when the `ServiceProfiler` was active. I then turned it off with the `ServiceProfiler__IsDisabled` settin

[2020-10-29 23:04] xiaomi7732 commented on #109
@dstj, thank you again for your feedback.
This actually goes in to the steam of .NET Core Runtime for the Eventpipe. @sywhang could you please help take a look and see if there's anything we can infer from the exception info? I have sent you the caller's code offline.

[2020-10-29 23:29] xiaomi7732 commented on #110
@dstj Thank you for the feedback. Yes, memory spike is expected, not leaking. Heroku is a environment that is not easy for us to debug. I will spend some time to see if I could reproduce this issue on our side for further investigation.

[2020-10-29 23:36] xiaomi7732 commented on #109
@dstj I got feedback from @sywhang quickly. We examined the implementation and think there could be 2 potential issues:

1. The application is shutting down upon when the profiler run into stopping.
1. Somehow, the mounted point to /tmp/ is lost - that is less likely.

Could you please comment on the first possibility?

Either way, when the time the exception is thrown, the trace stream is dispose

[2020-10-30 00:01] dstj commented on #109
@xiaomi7732 Thanks for the quick reply.

1. I looked at the timing of the error logs and the server reboots and no, the server **was not** rebooting at that time.

2. That is highly unlikely. I'm on Heroku and they use their [Ephemeral filesystem](https://devcenter.heroku.com/articles/dynos#ephemeral-filesystem), but that basically means that the filesystem works like normal, but will be lost on s

[2020-10-30 00:09] dstj commented on #110
Thanks @xiaomi7732 for looking into this.

I'm using my fork of the Heroku [`dotnet-buildpack`](https://github.com/dstj/dotnetcore-buildpack) to install .NET Core on top of the [`heroku-16` stack](https://github.com/heroku/stack-images). Its docker image is available if need be, but I'm guessing any Linux installation will do.

[2020-10-30 00:55] xiaomi7732 commented on #109
Sure.

[2020-10-30 23:12] xiaomi7732 commented on #110
@dstj I want to post a status update. I reproed the issue on a local ubuntu environment. We are seeing increasing in memory working set but **not** seeing a same trending GC Heap increasing. That ruled out the managed code leaking. **More time is needed** to come down to find out what is happening on the native memory usage.

One quick question that might help analysis: do you have a memory cap on

[2020-10-30 23:19] dstj commented on #110
@xiaomi7732

Thanks for the follow up. I do, it's 1GB. Though it is a soft limit as I went over a few times and received alerts. The hard limit may be 1.1 GB... I don't know that for sure.

[2020-10-30 23:20] xiaomi7732 opened #111 "Let CurrnetProcessProvider hold the Process object and make it IDisposable"
CurrentProessProvider shall be:
1. Singleton - that only one current process is ever needed;
2. IDisposable - because Process is IDisposable;

It is an overkill to have to dispose each/every call on the current process object.

[2020-11-03 17:59] xiaomi7732 opened #112 "Investigate moving validators to uploader"
Etlx validator is relatively expensive to run. Move them into the uploader (another process) will reduce pressure on eventPipe profiler - thus the user's application.

Also, compare to the user's app, uploader is short lived and is less likely to lead to accumulated leakage.

[2020-11-04 18:23] xiaomi7732 commented on #108
I am glad to know that it worked.

[2020-11-05 19:30] xiaomi7732 commented on #109
The fix is in the code base. Will be delivered in the next release.

[2020-11-05 19:31] xiaomi7732 commented on #111
Implementation is in the code base now.

[2020-11-10 21:50] xiaomi7732 opened #113 "FAQs"
## FAQ index

This is a place putting together FAQs. Please check to see if this addresses the problem for you.
This page will be update from time to time as more questions asked.

* Q: How do I understand the information the call tree is showing? For example, what does `AWAIT_TIME` mean on the call tree?
A: To begin with, read [How to read performance data](https://docs.microsoft.com/en-us/azure/

[2020-11-10 21:51] #98 closed

[2020-11-10 21:51] #49 closed

[2020-11-10 21:51] #45 closed

[2020-11-10 22:05] xiaomi7732 commented on #111
This is released in [2.2.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta3).

[2020-11-10 22:05] #111 closed

[2020-11-10 22:05] xiaomi7732 commented on #109
This is released in [2.2.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta3).

[2020-11-10 22:05] #109 closed

[2020-11-10 22:07] xiaomi7732 opened #114 "EventPipe EventStream is disposed before writing trace file finishing up"
We are handling the exception now. It could have been improved for performance if this is prechecked. Investigate if the implementation is possible.

[2020-11-10 22:07] xiaomi7732 commented on #107
This is released in [2.2.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta3).

[2020-11-10 22:07] #107 closed

[2020-11-10 22:07] xiaomi7732 commented on #106
This is released in [2.2.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta3).

[2020-11-10 22:07] #106 closed

[2020-11-10 22:08] xiaomi7732 commented on #105
This is released in [2.2.0-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta3).

[2020-11-10 22:08] #105 closed

[2020-11-13 22:44] xiaomi7732 commented on #114
By further investigation, it looks like the problem is actually the source stream (EventPipe.EventStream) got disposed sometimes before the writing method completes. Working on a fix.

[2020-11-16 18:44] xiaomi7732 commented on #83
@mkleijn, sorry for the late reply. It looks like the same issue as in #97. Please try to see if that resolves the issue.
TL;DR: Add directory of dotnet.exe to %PATH%.

[2020-11-16 18:53] xiaomi7732 commented on #89
Close this due to no actionable. Feel free to open new issue if more help is needed.

[2020-11-16 18:53] #89 closed

[2020-11-16 18:54] xiaomi7732 commented on #67
This is release with 2.2.0-beta2.

[2020-11-16 18:54] #67 closed

[2020-11-16 18:56] xiaomi7732 opened #115 "Refactor uploader implementation to use Generic Host"
The current implementation is a bit RAW and is difficult to run unit test on.

[2020-11-19 01:46] xiaomi7732 commented on #110
@dstj Hey, thanks for the patient. It took us a while to hunt down the memory issue. Some deeper analysis needed aside, we have a build that addresses the linear memory consumption issue.

Here's the test result on our side. On the chart below shows the memory available for a couple of days on a Ubuntu virtual machine with Profiler enabled. Before the fix, there are around 1G consumption per 24 ho

[2020-11-19 02:15] xiaomi7732 opened #116 "Look into support multiple versions of uploaders SxS on the same box"
When there are multiple apps with different versions of uploaders, they need to be installed separately and all need to work.

[2020-11-19 04:47] dstj commented on #110
@xiaomi7732 Thanks for looking into that issue! Looking forward to the next release.

[2020-11-19 06:02] andersekdahl opened #117 ""Process X not running compatible .NET Core runtime.""
We're using the profiler (2.2.0-beta2) on Azure Container Instances with Linux (mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim) and we recieve a couple of errors in our logs from the profiler. Since it's beta we've thought it to be expected, but yesterday we got the following error in our logs:

[code]

We're definitely running .NET Core and only running .NET Core. This error happened at the

[2020-11-19 18:48] xiaomi7732 commented on #117
Hi @andersekdahl thanks for filing the issue. The callstack is helpful. Please give me some time to review the code to see if that could be the cause of the crash.

Having a local reproduce of the issue will be helpful for us to tracking down the it. Does the crash happen all the time? Do you know what are the steps to repro the crash? How's the memory usage look like before the crash?

At the sam

[2020-11-19 18:51] xiaomi7732 commented on #112
Released in [2.2.0-beta4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta4).

[2020-11-19 18:51] #112 closed

[2020-11-19 18:52] xiaomi7732 commented on #114
Released in [2.2.0-beta4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta4).

[2020-11-19 18:52] #114 closed

[2020-11-19 18:52] xiaomi7732 commented on #110
Released in [2.2.0-beta4](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta4).

[2020-11-19 18:52] #110 closed

[2020-11-19 19:22] andersekdahl commented on #117
It doesn't crash all the time, there's usually a couple of days between the time we see this error. Have never had it happen locally, only sporadically on ACI. Unfortunately I can't see and direct patterns when it occurs, memory and CPU varies but is normal when it has happened.

I'll be sure to try the new beta as soon as OmI can, probably during the next couple of days.

[2020-11-19 20:07] xiaomi7732 commented on #117
Hi @andersekdahl Thanks for the quick turn-around. I finished review the code. By my understanding, I think things happen the other way around:

1. The container was crashing **somehow**;
1. The file system is unloaded - it will be explained why this matters.
1. Your application was shutting down because of the last steps.
1. Profiler, that happen to be running, was shutting down - and that was th

[2020-11-19 21:56] xiaomi7732 commented on #83
Close due to no actionable for now. Feel free to open new issues.

[2020-11-19 21:56] #83 closed

[2020-11-20 18:15] xiaomi7732 opened #119 "Look into adding an option to allow profiler crash the app for debugging scenario"
When crash happens, get a dump will help debugging the issue.

[2020-11-25 01:34] xiaomi7732 commented on #116
Working branch: ep-uploader-sxs

[2020-11-25 02:06] xiaomi7732 opened #120 "Change namespace to Microsoft.ApplicationInsights.Profiler.*"
This will make logging easy & consistent.

[2020-12-02 01:19] xiaomi7732 commented on #115
Look into branch: ep-profiler-generic-hosted-uploader

[2020-12-02 20:13] xiaomi7732 commented on #117
@andersekdahl Just a casual check, did you find anything new?

[2020-12-02 20:18] andersekdahl commented on #117
Haven't been able to deploy the update for different reasons. We're still seeing the error every now and then, but it always happen at the same time as a crash. So I don't think this error is what caused the crash I reported.

[2020-12-10 02:53] xiaomi7732 commented on #84
It feels more complex than expected since we have multi-targeting for ASP.NET Core 2.x and 3.x at the same time. The deal is that different host is used - MS.AspNetCore.Hosting vs MS.Extensions.Hosting.
Trying to deal with an interface that doesn't exists runtime will throw `NullReferenceException`. For ASP.NET Core 2.x, that will throw upon using `IHostApplicationLifetime`, for 3.x, that will thr

[2020-12-14 22:04] xiaomi7732 opened #121 "Build/release uploader for .NET Core 5.0 runtime"
There's uploader for .NET Core 2.x or .NET Core 3.x but no uploader yet for .NET Core 5.0.
In an environment where only .NET Core 5.0 runtime exists, (like inside the ASP.NET Core 5.0 runtime container), the existing uploaders won't work.

[2020-12-14 22:06] xiaomi7732 commented on #121
Related branches for investigation:
net5-container

[2020-12-15 22:26] xiaomi7732 opened #122 "Refactor: Organize user cache better"
User cache is by default %temp%; Putting temp files under the user cache directly will make a mess with the flat structure. Try at least putting all service profiler related working files (trace, metadata and so on) into %userCache%/ServiceProfiler.

[2020-12-15 22:29] xiaomi7732 commented on #120
- [ ] Update core code;
- [ ] Update AspNetCore header;
- [ ] Update uploader;
- [ ] Update examples/instructions for debugging;

[2020-12-17 01:25] xiaomi7732 commented on #73
Running .NET Core app on .NET Fx is only supported until .NET Core 2.1, which we are not supported anymore. This scenario doesn't apply to the latest profiler anymore. I'll just close this one for now.

Feel free to open new issue if you think the change is still necessary.

[2020-12-17 01:25] #73 closed

[2020-12-18 22:25] xiaomi7732 commented on #121
Released in: [2.2.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta5).

[2020-12-18 22:25] #121 closed

[2020-12-18 22:26] xiaomi7732 commented on #116
Released in: [2.2.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta5).

[2020-12-18 22:26] #116 closed

[2020-12-18 22:26] xiaomi7732 commented on #115
Released in: [2.2.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta5).

[2020-12-18 22:26] #115 closed

[2020-12-18 22:26] xiaomi7732 commented on #119
Released in: [2.2.0-beta5](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta5).

[2021-01-01 00:04] xiaomi7732 opened #124 "Uploader doesn't exit in 2.2.0-beta5"
The upload with 2.2.0-beta5 doesn't exit unless using Ctrl+C in the console.

[2021-01-01 03:37] xiaomi7732 commented on #124
Fixed in [2.2.0-beta6](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta6).

[2021-01-01 03:37] #124 closed

[2021-01-07 18:28] xiaomi7732 commented on #120
Code change has been released in [2.2.0-beta6](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta6).

[2021-01-07 18:50] xiaomi7732 opened #127 "Allows switching stampId that happens upon uploading"

[2021-01-13 23:13] xiaomi7732 commented on #127
To full support this, we need an update on our backend service. The backend is updated, in the line for testing and deployment but it will take a while before it happens. (In a week or 2). This is currently blocked.

[2021-01-29 15:13] xcellsoft opened #128 "Application is starting and shutting down messages written when using profiler."
Since enabling the profiler in a dotnet 3.1.5 I see multiple messages throughout the day indicating the application is shutting down and starting up. The shutdown always appears after the Service Profiler trace uploaded message and the startup comes before.

The application is not shutting down or starting up so I am at a loss why these appear and obviously its a concerning message in our producti

[2021-02-01 20:28] xiaomi7732 commented on #128
@xcellsoft Thanks for filing the issue. Could you please give us more info about the application for troubleshooting:

* What's the NuGet package version of Profiler used: (2.2.0-beta6?)
* What's the host of the application? (Azure WebSites? Kubernetes? AKS?)
* Is it a Windows Application or Linux Application? Is it running inside a container?
* If it is running inside a container, is there a heal

[2021-02-01 21:27] xcellsoft commented on #128
- What's the NuGet package version of Profiler used: (2.2.0-beta6?) - YES 2.2.0-beta6
- What's the host of the application? (Azure WebSites? Kubernetes? AKS?) - I ran it local on my windows desktop via dotnet run and it displayed the same errors so it's not related to environment. It is also happening within a linux container hosted in azure app services. In either event the application is not rea

[2021-02-02 04:54] xiaomi7732 commented on #128
@xcellsoft Thanks for the quick turn-around. I have setup an application with proper logs to see if I could repro it locally. That would be easier. Just to verify some of my understanding:

1. Does this happen only on Runtime 3.1.5? I am trying to see if it is runtime related.
2. How frequent this happens for your side? Like 4 times a day or more, or less? I am trying to see how much time do I nee

[2021-02-02 15:20] xcellsoft commented on #128
It is very concerning in my opinion to see that message in your production logs (I had a shock moment at first) as we expect those logs to be very clean especially when logging is set to Warning and you see messages in there you assume they are warnings or errors not info from a secondary process.

Yes, I really feel these messages should be suppressed.

Also, it fills up the logs with erroneous d

[2021-02-02 19:35] xiaomi7732 commented on #128
Hey @xcellsoft, the issue is not in .NET Core runtime, it is in this package. I'll issue an fix for suppress the loggings from the uploader, and it will released in the next version - 2.2.0-beta7, supposedly. And you will have to update the reference to `Microsoft.ApplicationInsights.Profiler.AspNetCore` to that version. I'll close this issue once the package is released.

[2021-02-02 20:50] xcellsoft commented on #128
Sounds good, thanks for the quick turn around.

[2021-02-05 22:51] xiaomi7732 commented on #128
New package released.
Please check it out: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.2.0-beta7

[2021-02-05 22:51] #128 closed

[2021-02-08 03:50] ericmattingly opened #130 "Memory % Calculation in Kubernetes"
I have the 2.2.0-beta6 profiler enabled on a .NET Core 3.1 service running in a Linux Alpine container in AKS.  I have noticed that profiler is taking captures due to the default Memory Trigger (80%) but its not clear to me how its calculating the memory.  On the "Configure Application Insights Profiler" blade its consistently saying the memory was ~90% every time a capture is performed (even the

[2021-02-08 03:55] ericmattingly opened #131 "Add Operation ID to Profile Tree Page"
The Operation ID shown in the "End-to-end Transactions Details" blade is very interesting to us since we can use it as a correlation id with logs outside of Application Insights.

Can we add the same to the Profile Tree Page up where it listed the Process ID and Activity ID?

![image](https://user-images.githubusercontent.com/10789017/107174184-6bc80b00-697e-11eb-86fc-ba9914c2e78a.png)

[2021-02-08 04:01] ericmattingly opened #132 "All Requests Have Broken Stacks in Hot Path"
I have the 2.2.0-beta6 profiler enabled on a .NET Core 3.1 service running in a Linux Alpine container in AKS.

Every profile tree seems to have broken stacks.  What's my next steps for troubleshooting?

![image](https://user-images.githubusercontent.com/10789017/107174451-1f30ff80-697f-11eb-90d1-f858e8a657b7.png)

[2021-02-08 19:48] xiaomi7732 commented on #130
The memory rate, on Linux, comes from /proc/meminfo. The formula is: `(1-(free/total) * 100%)`:

For example, at the point of gathering, if the meminfo looks like it below:
[code]
The rate is (1-(12875448/12993484))* 100% = 0.91%.

In your case, you have utilized almost 90% of the memory of your application. You will need to decide whether that is because of a high utilization by design, or is the

[2021-02-08 19:48] #130 closed

[2021-02-08 20:16] xiaomi7732 commented on #131
Hi @ericmattingly Thanks for filing the issue. I have added this to our backlog. While the UI work will take a while for implementation, here's a quick work-around:

![image](https://user-images.githubusercontent.com/3674549/107275887-2a2f7280-6a07-11eb-9e9c-5cd140574a3a.png)

1. Download the trace file & rename it to *.netperf.zip;
1. Open the trace file in [perfview](https://github.com/microsoft

[2021-02-09 18:15] xiaomi7732 commented on #131
This has been tracked. I'll close this issue for now. Feel free to open new issues.

[2021-02-09 18:15] #131 closed

[2021-02-24 18:24] xiaomi7732 commented on #132
Talked with @ericmattingly offline. I have submitted the problem upstream team for further analysis. Tag @sywhang.

[2021-02-25 20:32] xiaomi7732 commented on #132
@ericmattingly Thanks for the report. @sywhang found the issue. It is a bug in our backend service. I will issue an fix there. It will take a couple of weeks before it hits the service. At the same time, please ignore the BROKEN for now. Other than showing the broken node, the call tree should still be trustworthy.

Thanks @ericmattingly for reporting the issue & @sywhang for point out where the i

[2021-03-15 21:36] xiaomi7732 opened #133 "Look into split Uploader to folders with .NET Core runtime versions"
If the user have multiple runtime versions of application (.netcore 3.x, .net 5.0), same versions of uploaders will ran into conflicts.

1. This is a rare case;
2. If you ran into this, please reply this message and I'll post a workaround for it.

We are look into fix this.

[2021-03-15 21:38] xiaomi7732 commented on #132
The deployment for this fix has started. It will take about 1 week for it to reach global if everything goes smoothly.

[2021-03-23 18:12] xiaomi7732 commented on #132
The change has been deployed. Feel free to open new issues if there's anything else.

[2021-03-23 18:12] #132 closed

[2021-04-21 21:09] xiaomi7732 opened #135 "Profiler might stop working after days of running"
There is a deadlock found in .NET Core CLR that will happen in a rare case.
While we are looking into how to fix it, it will take a while before it could be fixed and back ported to .NET Core 3.x.

Workaround:
* Restart the app.

Tracking of fix in `dotnet/runtime` repo: https://github.com/dotnet/runtime/issues/51579

[2021-05-13 00:23] xiaomi7732 opened #138 "Should preserve zipped trace file instead of the raw trace file"
* Zipped trace file is smaller;
* Zipped trace file is superset;
Keep the logging of preserved file location.

[2021-05-25 19:21] dolly22 opened #139 "Error when using Autofac IoC container"
Profiler is not working when using different [Autofac IoC container](https://github.com/autofac/Autofac.Extensions.DependencyInjection) for Microsoft.Extensions.DependencyInjection.

The error is:

The problem is with `Microsoft.ApplicationInsights.Profiler.Core.UploaderProxy.TraceUploaderProxy` constructor signature, precisely with it's last parameter `callUploadAsync`.

[code]

It's possible to

[2021-05-25 20:25] dolly22 opened #140 "Support for non asp.net core workloads"
I have already seen #49. But I'm not asking for nuget package to magically track worker services.

It would be great if you could restructure published nuget packages, so there was one without `Microsoft.AspNetCore.*` dependencies only on `Microsoft.Extensions.*` containing all lower level building blocks such as IServiceCollection registration and configuration management. It looks like the only

[2021-06-08 21:35] xiaomi7732 commented on #140
Hey @dolly22 thanks for filing the issue. Trying to understand your requirement:  are you looking for a package similar to <https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.Core> that doesn't have ASP.NET Core dependencies?

[2021-06-09 15:40] pharring commented on #140
@xiaomi7732 this seams like a reasonable request. Consider also the worker service scenario. They may reference [Microsoft.ApplicationInsights.WorkerService](https://www.nuget.org/packages/Microsoft.ApplicationInsights.WorkerService).

[2021-06-10 22:31] xiaomi7732 commented on #117
@dstj Thanks for the report and the callstack. I'll take a quick look.

[2021-06-11 06:52] dolly22 commented on #140
@pharring @xiaomi7732 Yes, worker services are exactly the reason i am proposing this feature. They usually have only `Microsoft.Extensions.*` dependencies and use generic host, but still produce interesting `RequestTelemetry` to application insights.

[2021-06-11 17:05] xiaomi7732 commented on #117
This looks like a case where the application is shutting down, I'll seek to issue a fix to swallow ServerNotAvailableException for application shutting down.

[2021-06-11 22:17] #120 closed

[2021-06-11 23:02] xiaomi7732 commented on #139
Hey @dolly22 just so that you know, I have a potential fix for this. My opinion on it is that it was a bad design and I am willing to correct it. It will be released in a beta package alone with other changes.

Will you be able to use a beta package or will it a problem for you?

[2021-06-11 23:16] xiaomi7732 commented on #140
Thanks all for the input. It is our goal to support various environments anyway. Treat ASP.NET Core header package (Microsoft.ApplicaitonInsights.Profiler.ASPNETCore) as the pioneer package.

Tell me if I am wrong here, my understanding:

* The gap here is that, in our core package(Microsoft.ApplicationInsights.Profiler.Core), we have [InternalVisibleTo] to allow the header package to leverage int

[2021-06-16 17:28] xiaomi7732 commented on #139
@dolly22 Just so that you know, the release of the beta package has been blocked by some other issues. We are looking into address those, it might take a while.

Feel free to let us know if you need this change in urgent and we will see how to priorities it. I don't have a concreate ETA yet.

[2021-06-26 18:45] christianacca opened #141 "Conflict with Serilog ReloadableLogger"
The latest version of Microsoft.ApplicationInsights.Profiler.AspNetCore (2.2.0) conflicts with [Serilog ReloadableLogger](https://github.com/serilog/serilog-extensions-hosting/blob/dev/src/Serilog.Extensions.Hosting/Extensions/Hosting/ReloadableLogger.cs).

Running my asp.net core api result in the following exception in the Program.cs class:

[code]

Here's the Program.cs class:

[code]

This `Re

[2021-07-06 21:32] xiaomi7732 commented on #141
@christianacca, thanks for the report. It looks like a bug. I'll take a look.

[2021-07-07 01:05] xiaomi7732 commented on #141
@christianacca, the multi-stage loading is introduced in the newer version of `Serilog.AspNetCore` and the crash issue has been fixed in the latest [2.3.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.0-beta2), please check it out.

[2021-07-07 01:05] #141 closed

[2021-07-07 18:50] xiaomi7732 commented on #139
Please try it out with https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.0-beta2.

[2021-07-07 18:50] #139 closed

[2021-07-07 18:51] xiaomi7732 commented on #117
The fix is released in [2.3.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.0-beta2).

[2021-07-07 18:51] #117 closed

[2021-07-13 17:17] xiaomi7732 commented on #135
Hi @polage-tr Thanks for the ask. Could you please re-post it on the linked issue for dotnet/runtime here: [#51579](https://github.com/dotnet/runtime/issues/51579). According to the info there, the fix is in .NET 5, but hasn't been back ported to .NET Core 3.1. And since the issue is in .NET Core runtime, it impacts all versions of the applications/profilers running on it.

[2021-07-13 17:34] polage-tr commented on #135
@xiaomi7732 thank you for the reply will repost my quetion.

[2021-07-13 17:45] xiaomi7732 opened #142 "Look into remove the dependency on Newtonsoft.Json"
Use `System.Text.Json` that shipped with .NET Core runtime will reduce the size of the package. Look into how much will it take to implement it.

[2021-07-14 09:23] christianacca commented on #141
Thanks @xiaomi7732 that fixed things for me :-)

[2021-08-04 17:43] xiaomi7732 opened #143 "Trace Uploader is not located in .NET Core 5.0 application"
TraceUploader.zip has been supposed to be flatten into the target bin folder by design.

It appears that flatten wasn't honored pre .NET 5.0, and the TraceUploader.zip has been extracted to `bin/**ServiceProfiler**/`, and the search of the file has been using that; However, in late version of .NET 5.0, it is honored, and thus `TraceUploader.zip` can't be found anymore.

[2.3.0-beta3](https://www.n

[2021-08-04 17:44] #143 closed

[2021-08-10 17:27] xiaomi7732 commented on #143
Thanks to my colleague. Here's an MSBuild post build trick for a work-around:
[code]

[2021-08-17 13:46] GeorgeChackungal opened #145 "Switching off the triggers by default"
Hi,

Is there a way I can add the profiler to a containerized app with all the triggers off? And only run the "Profile Run" from azure when I need it?

[2021-08-20 22:24] xiaomi7732 commented on #145
Hi @GeorgeChackungal Thanks for the ask. That functionality is not officially supported. Is there a reason or concern that you want all the triggers off?

[2021-08-21 12:44] GeorgeChackungal commented on #145
Do the team have any plan to support this in the future?

We wanted to run the profiler only when we encounter some failures etc. Also, we are not sure about the performance impact of having this enabled all the time.

[2021-09-01 16:50] alesgn opened #146 "NuGet package is dependent on version 1.0.2 of Microsoft.AspNetCore.Hosting with known security vulnerabilities"
**Describe your environment.**
- SDK version: 2.3.0
- .NET runtime version (.NET or .NET Core, TargetFramework in the .csproj file): .NET 5
- Hosting Info (IIS/Azure WebApps/etc): Azure WebApps

**Steps to reproduce.**
Add _ApplicationInsights-Profiler-AspNetCore_ reference to your project. Look at transitive dependencies.

**What is the expected behavior?**
Reference to version of Microsoft.AspNe

[2021-09-05 22:48] Matthewsre commented on #142
I'm using a .net 5 asp.net web api and there are no dependencies on Newtonsoft.Json. This caused a runtime error since the dependency wasn't identified through nuget.

[2021-09-07 17:43] xiaomi7732 commented on #142
@Matthewsre Are you saying your project isn't have an explicit or implicit dependent on `Newtonsoft.Json` today? That is weird. Although `Newtonsoft.Json` isn't depended upon by `Microsoft.ApplicationInsights.Profiler.AspNetCore`, it is depended on by `Microsoft.ApplicationInsights.Profiler.Core`, which is dependent on by the ASPNetCore package.

In other words:
Your project -> Microsoft.Applicati

[2021-09-19 10:51] ransagy opened #147 "Allow specific Instrumentation Key to be provided"
Unlike most of the other AI NuGet packages, There is no way to provide the Instrumentation Key explicitly for this library, Instead relying on one env var to be available at all times.

This is an issue if the same AI key isn't wanted on telemetry collection for the normal AI library or in any 3rd party code that instanciates their own `TelemtryConfiguration`.

Would it be possible to align with t

[2021-09-20 14:02] GeorgeChackungal commented on #145
Any update on the above?

[2021-09-27 17:06] xiaomi7732 commented on #147
Hi @ransagy, thanks for the feedback. I am trying to understand how to prioritize this work. We don't usually get back feedback that there are multiple iKeys in the same application. Could you please explain why do you want to have multiple iKeys in the same app? It would be great if you could describe your scenario specifically.

[2021-09-27 17:10] xiaomi7732 commented on #145
Hi @GeorgeChackungal, sorry for the delay. Here's what we usually do for that scenario:
1. Enable Profiler with this settings in an environment variable:

[code]

2. Set the value to `False` when profiler needs to be turned on.

For more configurations, refer to [Configurations](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/main/Configurations.md).

Will that address yo

[2021-10-15 20:47] xiaomi7732 commented on #140
@shlomiassaf Thanks for the details. Now, I understand the app is a service that listens to SB messages. That is great. Depends on some other thing, you might be able to leverage the existing implementations.

One thing that might largely impact the capability that I still do not understand: is that where do you deploy your app to? Is it an Azure WebSite? Is it a WebJob? Is it an Azure Function? I

[2021-10-19 03:08] AdrenalineHc opened #148 "Need a configuration that disables regular profiling but keeps triggered ones"
for now the profiler regular run is every 1 hour, but I am only interested for special scenarios, need a button to do that, especially for web app's codeless agent, thx

[2021-10-29 22:16] xiaomi7732 commented on #148
Hi @AdrenalineHc, the codeless agent already supports that scenario:

![image](https://user-images.githubusercontent.com/3674549/139507213-c055541c-3652-40eb-abb1-598017f86e02.png)

Does that addresses your issue?

[2021-10-29 22:54] xiaomi7732 commented on #146
I am a bit confused about the scanning result.

I tried it on .NET Core 3.1 / 5.0, .NET core cli isn't reporting any vulnerable package:

For example, on a .NET Core 3.1 project:

[code]

Although, the version of Microsoft.AspNetCore.Hosting is 1.0.2.

[code]

@alesgn how were you getting the scanning results?

[2021-11-07 19:37] AAimson opened #149 "Application Profiler Uploader not working in .NET 6 Preview (on Azure App Service Linux Container)"
Hello 👋 ,

I'm running into issues when running App Insights Profiler in a Linux Container Azure App Service

Currently unable to upload the logs.

Running .NET 6 RC2 project reference,
`FROM mcr.microsoft.com/dotnet/aspnet:6.0.0-rc.2-focal AS base`

Referencing:
[code]

[code]

Can you please advice?

[2021-11-17 18:42] xiaomi7732 commented on #149
@AAimson Thanks for the report. Let me take a look.

[2021-11-17 20:00] xiaomi7732 commented on #149
Hi @AAimson , do you mind try it with this environemnt variable in your container as a quick workaround:

[code]

I think I found out why and I need another release to fix the issue.

[2021-11-18 18:15] #148 closed

[2021-11-18 18:16] #145 closed

[2021-11-18 18:18] xiaomi7732 commented on #133
If there's only 1 uploader that runs on all runtimes, this becomes irrelevant. Refer to #149

[2021-11-18 19:19] xiaomi7732 commented on #149
The fix is released with [2.3.1-beta3](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.1-beta3). Please give it a try.

[2021-11-23 02:25] xiaomi7732 opened #150 "Microsoft.Extensions.Options 3.1.0 is not on the dependency list, which it should"
Filed by customer, the transition dependency of Microsoft.Extensions.Options from Microsoft.Extensions.Options.ConfigurationExtensions (2.1.0) doesn't reveal the assembly dependency version of 3.1.0.

[2021-12-21 17:59] #149 closed

[2022-01-12 18:45] semornas opened #151 "InvalidOperationException "System.Diagnostics.Tracing.EventPipe type == null" after .NET 6.0 migration"
Hello,

We are facing some issues with the ApplicationInsights Profiler while upgrading our ASP.NET Core 3.1 Apps to .NET 6.0. The apps are  hosted on App Service on Linux Containers and profiling was working fine with .NET Core 3.1.

### Repro:
Now that we have .NET 6.0 instead, the Profiler is throwing a System.InvalidOperationException:
- **Message**: System.Diagnostics.Tracing.EventPipe type =

[2022-01-19 18:59] xiaomi7732 commented on #151
Hi @semornas thanks for your report. Let me take a look.

[2022-01-19 22:02] xiaomi7732 commented on #151
Hey @semornas I did some investigation. This code path is there for falling back on old .NET Core runtime (like 2.1 or so). It doesn't feel right for an application on .NET 6 to run into it. I test it quickly on my box and I couldn't repro it.

Maybe there's something going on with the runtime image for the container? Do you have a reproduce that I can use for investigation, or could you please le

[2022-01-19 23:45] xiaomi7732 commented on #151
Hey @semornas Thanks for sending the info offline. Just to put it on-record, here's some info for debugging:

Based on that, I created a repo trying to reproduce the issue - it uses the exact same image while I am not seeing the error.

Could you please help check to see what is that that we are missing there? [Click to open the repo](https://github.com/xiaomi7732/TryReproProfilerIssueOnNet6).

[2022-01-20 09:06] semornas commented on #151
Thanks for your help @xiaomi7732; I pushed some additional code in your repo that should expose the issue in local debugging. Hope it will help troubleshooting :)

[2022-01-20 18:15] xiaomi7732 commented on #151
Thanks for that! Let me take a look.

[2022-01-20 19:03] xiaomi7732 commented on #151
Thanks for the information. I see what is going on. I have put a workaround in the repo, please [check it out](https://github.com/xiaomi7732/TryReproProfilerIssueOnNet6/commit/8cdbe12faee83e84ef9b5c0f9e116a4f50e4ca82).

Do I understand the intention to pre-warm up singletons is to gain better perf or fail faster?

Here's, I think, what happened:
In Profiler implementation, we have 2 types do the s

[2022-01-21 14:16] semornas commented on #151
Hi @xiaomi7732,

Again, thank you for your help! The explanation makes complete sense; this is only because we try to activate all registered singletons (indeed we do that in order to optimize the performances of the application) at startup, that we run into this issue.

The proposed workaround, which is to not activate the `Microsoft.ApplicationInsights.Profiler.Core.TraceControls.TraceControl` t

[2022-01-21 18:43] xiaomi7732 commented on #151
Hi @semornas I am glad to hear that. Just so that you know, we landed on a fix to remove the need for the workaround. Please pay attention to the next release.
Again, I am keeping this issue open until the fix is released.

[2022-01-28 19:44] xiaomi7732 opened #152 "Update NuGet description"
Current description wasn't updated to align with the experimental support on Windows.

[2022-02-02 02:05] xiaomi7732 opened #155 "Uploader won't skip uploading corrupted trace"
By design, uploader should not upload corrupted trace to:

1. Save bandwidth
2. Avoid invalid analysis

It wasn't working.

[2022-02-02 19:14] xiaomi7732 commented on #151
Hi @semornas The fix is released in 2.3.1-beta4 here:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.1-beta4

[2022-02-02 19:15] #151 closed

[2022-02-02 19:15] xiaomi7732 commented on #150
The fix is released in 2.3.1-beta4.
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.1-beta4

[2022-02-02 19:15] #150 closed

[2022-02-02 19:27] xiaomi7732 commented on #133
Not needed any further.

[2022-02-02 19:27] #133 closed

[2022-02-03 00:07] xiaomi7732 commented on #155
Fix released:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.1-beta5

[2022-02-03 00:07] #155 closed

[2022-02-03 00:08] xiaomi7732 commented on #152
Fix released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.3.1-beta5

[2022-02-03 00:08] #152 closed

[2022-02-11 19:43] xiaomi7732 opened #158 "Support Getting Trigger Settings from Application Insights Resources - Trigger settings"
- [ ] Consider the behavior of OneTimeSchedulePolicy
- [ ] Taking CPU/Memory/Sampling profiler settings, overwrite local values

[2022-02-18 23:14] xiaomi7732 opened #160 "Look into bumping up Application Insights for ILogger in EventPipe logging system"

[2022-02-25 23:19] xiaomi7732 opened #161 "Refactor: Pull out remote setting fetching into standalone service"
OnDemand Scheduling Policy should rely on this service - clearer responsibility.

[2022-03-09 02:27] xiaomi7732 opened #162 "Look into Enhance the user settings"
Considering:

[code]

[2022-03-14 22:28] xiaomi7732 opened #163 "Remove dependency on Newtonsoft.Json - i2"
- [ ] Bump up the dependency to `microsoft.applicationinsights.windowsserver.telemetrychannel` to 2.15 +
- [ ] Update the code in `ConfigureUserConfiguration.cs` as well as `ServiceProfilerStartupFilter.cs`.
- [ ] Convert other places that still uses Newtonsoft.Json for serialization.

For testing, please bump up MS.ApplicationInsights.AspNetCore to 15.0+ to avoid bringing in Newtonsoft.Json on th

[2022-03-24 19:53] pjquirk commented on #163
Does this include the `Newtonsoft.Json.Schema` library as well? It's license is AGPL-3.0-only, which is currently problematic for us since it's unclear we can use it directly.

[2022-03-25 21:41] xiaomi7732 commented on #163
@pjquirk Thanks for the ask. @JacobBovee , could you please answer that?

[2022-03-25 22:33] JacobBovee commented on #163
Hey @pjquirk yep this includes `Newtonsoft.Json.Schema`. The next package release will include this change and we should be getting that out really soon.

[2022-03-25 22:38] xiaomi7732 opened #164 "Consider reducing default profiling duration to 30 seconds than 2 minutes"
Reason:

* If a request is as slow as 2 minutes, there is probably no need of profiler to find out where the issue is;
* Smaller package is lightweight, easier to analysis, also less noise;
* Less network traffic, faster upload;

[2022-04-04 21:46] xiaomi7732 commented on #142
Released in https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.4.0-beta1.

[2022-04-04 21:46] #142 closed

[2022-04-04 21:46] xiaomi7732 commented on #158
Released in https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.4.0-beta1.

[2022-04-04 21:46] #158 closed

[2022-04-04 21:46] xiaomi7732 commented on #163
Released: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.4.0-beta1

[2022-04-04 21:46] #163 closed

[2022-04-17 00:53] TeplrGuy commented on #148
@xiaomi7732 any reason why you say this option is only available to codeless agent config? Does this mean on a Linux hosted .NET core application sample cannot be turned off from the portal?

[2022-04-17 10:21] TeplrGuy commented on #162
@xiaomi7732 inversion 2.21 are

"CPUTriggerThreshold": 0.8,
 "MemoryTriggerThreshold": 0.8,

being deprecated?

[2022-04-17 16:35] xiaomi7732 opened #167 "Look into replacing `StartupFilter` with `BackgroundService`"
`StartupFilter` works only with ASP.NET Core; `BackgroundService` works for both ASP.NET Core and Generic Host (Worker).

[2022-04-17 17:50] xiaomi7732 commented on #148
@TeplrGuy Thanks for bring this up. It was the case. However, due to a recent effort by @JacobBovee , Linux Profiler agent now supports using settings from the portal too. Refer to #158 for more details. You will need to use the latest NuGet package to try it out:
<https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.4.0-beta1>

Feel free to open new issue if you have

[2022-04-17 17:58] xiaomi7732 commented on #162
Hi @TeplrGuy, what do you mean by version 2.21? We have never delivered a version 2.21. Do you mind double check? That said, do you have concerns that we deprecating settings in the newer version, we are curious to understand why.

[2022-04-23 00:25] xiaomi7732 commented on #162
@TeplrGuy Do you mind feed us back. It would be great if we hear suggestions / push backs in this early stage. Thanks!

[2022-04-27 21:16] xiaomi7732 commented on #90
Hey @Eneuman It has been a while before any activity happened. I am sorry, I dropped the context on this already. **Feel free to reopen** or file a new issue if there's more discussion/troubleshooting needed.

[2022-04-27 21:16] #90 closed

[2022-04-27 21:26] xiaomi7732 commented on #135
Close due to external issues and not actionable on this. Feel free to reopen if there's other things that we can do.

[2022-04-27 21:26] #135 closed

[2022-04-27 21:31] xiaomi7732 commented on #140
Hey @bruckgt1 , I think you have been looking into the Azure Function support of EventPipe Profiler. Do you think we could combine the effort with this? Far as I know, Azure Function is built upon Workload.

[2022-04-27 21:33] xiaomi7732 commented on #146
I believe this is the underline package that causes trouble `Microsoft.AspNetCore.Http`.

[2022-04-27 21:41] xiaomi7732 commented on #147
Not getting back for a while. Close this one for now. Feel free to raise new issues.

[2022-04-27 21:41] #147 closed

[2022-04-27 21:44] xiaomi7732 commented on #161
This is done by `IProfilerSettingsService`.

[2022-04-27 21:44] #161 closed

[2022-04-27 21:51] xiaomi7732 commented on #164
Let's give it a shoot and see.

[2022-04-27 21:55] xiaomi7732 commented on #167
FYI:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-6.0&tabs=visual-studio

Very much related to #140

[2022-04-28 00:06] xiaomi7732 opened #168 "Investigate getting appId by leveraging IApplicationIdProvider"
We should look into refresh our ways to get an app id:

Interface: https://github.com/microsoft/ApplicationInsights-dotnet/blob/main/BASE/src/Microsoft.ApplicationInsights/Extensibility/IApplicationIdProvider.cs

PR made that available:
https://github.com/microsoft/ApplicationInsights-dotnet/pull/740/files

Details:
https://github.com/microsoft/ApplicationInsights-dotnet/issues/739

[2022-05-03 16:47] jvitor83 opened #169 "UnsupportedPayloadTypeException when try to profile the app"
Hi, I'm having a `UnsupportedPayloadTypeException` when try to "Profile now" at Azure App Insights.

The Exception:
[code]

The csproj:
[code]

It is a dockerized application running on `netcoreapp3.1`.

Any clues about what can be happening?

[2022-05-04 04:26] xiaomi7732 commented on #169
Hi jvitor83,
Thanks for the report. We have had some major refactoring for 2.4.0-beta1 that's related to serialization and might caused some issue. Give us some time to investigate it.

At the same time, would you mind try it on 2.3.1 and see if that works for you?

[2022-05-05 10:56] jvitor83 commented on #169
Hi @xiaomi7732,

The 2.3.1 worked just fine.

Thank you!

[2022-05-05 16:52] xiaomi7732 commented on #169
@jvitor83 I am glad to hear that. A bit progress: I reproduced the exception on my box with `mcr.microsoft.com/dotnet/aspnet:3.1-alpine`, we haven't reach the bottom of the investigation yet. News will be posted here.

[2022-05-09 23:17] xiaomi7732 commented on #146
This should have been addressed in 2.4.0-beta1. Compare the dependency tree for before/after:

![image](https://user-images.githubusercontent.com/3674549/167513549-3fdc42da-8bc6-405b-95d6-6a71d28e181f.png)

[2022-05-09 23:17] #146 closed

[2022-05-11 11:06] Nisden opened #170 "Add support for self-contained deployments"
When trying to use the ApplicationInsights Profiler in our AKS cluster where we deploy our application on to `mcr.microsoft.com/dotnet/runtime-deps:6.0` the uploader fails to execute as the dotnet executable does not exist on our machines.

Could we get support for a self-contained uploader?

[2022-05-11 18:40] xiaomi7732 commented on #170
Hi @Nisden Thanks for the ask. This is the first time we see an ask to support `runtime-deps` container, and I want to gathering some context, if it is okay with you:

Curious, why do you prefer `runtime-deps` than `runtime` package? I guess it is about image size but I am interested to know if there is some other.

At the same time, just so that you know, we will need some time to understand what

[2022-05-11 18:50] Nisden commented on #170
Hi @xiaomi7732

Your questions are more then welcome, I think running `runtime-deps` vs `runtime` is a left over from when we ran our deployment on Azure App Service / Web App for Containers, as the smaller size was a win.

However I have considered switching our deployment to `runtime` instead, as AKS should be able to cache the base-layers.

[2022-05-11 22:10] xiaomi7732 opened #171 "Remove dependency on an internal logging project"
The assembly of `ServiceProfiler.Logging.dll` shipped in the NuGet package is almost a redundant. Looking for chances to get rid of it to reduce package size.

[2022-05-11 22:13] xiaomi7732 commented on #170
@Nisden Thanks for sharing the quick reply and the information. Specifically to AKS (or other K8s environment), having cached base layers' actually a good leverage for total size consideration!

That said, our investigation for uploader to support self-contained is still on the table. :-)

[2022-05-12 13:26] CodedBeard opened #172 "No profiler upload on net6 in AKS"
We've been trying to get the profiler to work for our aspnet core app running in AKS. While forcing a profiling session from the portal appears to correctly start the tracing, the results are never uploaded to the portal, and no errors are recorded anywhere that we can find.

If we exec into the container, we can see there is a `TraceUpload.zip` file being created in the container, but there are n

[2022-05-12 17:56] xiaomi7732 commented on #172
@CodedBeard, thank you for filing the issue. I am sorry to hear that Profiler's not working for you.

There are various reasons to not having any profiling trace. I'd like to know more for troubleshooting.

Just for some quick check:

Firstly, during the profiling session, is there traffic to your application? No traffic no profile :-)
Secondly, do you have a writable folder on your container for

[2022-05-13 06:46] CodedBeard commented on #172
Thanks for the tips @xiaomi7732.

Yes, there is definetly traffic hitting the system, as we are in the process of testing a large new release :)

I've got to go to a conference today, but will give the other suggestions a try when im back.

[2022-05-13 17:48] xiaomi7732 commented on #172
Please let us know.

[2022-05-13 17:54] xiaomi7732 commented on #170
By initial investigation, it looks like this scenario could be supported by:
- [ ] Publish the Uploader by setting `UseAppHost` to true;
- [ ] Update the profiler to call the `exe` than calling `dotnet`;

Caveat to test for:
- [ ] In linux, if I understand correct, the exe file needs to be set to executable. (chmod u+x exefile)

I think this worth a shot for 2.5.0-beta1. Let me talk with the team.

[2022-05-16 17:01] JacobBovee commented on #169
Hey @jvitor83 just wanted to keep you updated, we worked out a fix and will be deploying `2.4.0-beta2` after a bit of testing and verification. I'll let you know when it's released, hopefully in the next few days. Thanks again for spotting this! We really appreciate it.

[2022-05-18 07:51] CodedBeard commented on #172
@xiaomi7732 I've confirmed that /tmp is writtable within the containers.

After enabling the Debug logging level, we've found the following exception being thrown:

[code]

[2022-05-18 08:40] taspeotis opened #173 "NuGet package should not treat contentfiles as private"
I have ten .NET 6 web applications, they have a NuGet package shared between them that sets up a lot of common stuff. One of those things is Application Insights.

If I add `Microsoft.ApplicationInsights.Profiler.AspNetCore` to my common NuGet package and enable profiling, it will fail with:

The problem seems to be that NuGet treats `contentfiles` (where `TraceUpload.zip` comes from) as private.

[2022-05-18 18:19] xiaomi7732 commented on #172
Hey @CodedBeard
Thanks for the info.

Based on what provided, I have 2 points that I want to share with you:

1. The call stack points to a bug in our code base that null is not well checked before calling parser
    1. While we are here, do you mind **share your iKey** with us (mail me: saars@microsoft.com, or whatever way you are comfortable with)? It is interesting to see what the profiler sett

[2022-05-18 20:01] JacobBovee opened #174 "Null exception in Settings Contract when settings do not exist."
Refer to #172 for more info. Currently when remote settings do not exist they are deserialized as null breaking parsing and throwing an exception. This should not break profiling.

[2022-05-18 23:17] JacobBovee commented on #169
Hey @jvitor83 just released a new version of profiler with this fix included: [2.4.0-beta2](https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.4.0-beta2).

Please let me know if this works for you. Thanks again for taking the time to work with us on this.

[2022-05-19 08:38] CodedBeard commented on #172
Thanks @xiaomi7732.

I've sent you a mail with the Ikey and the log buffer from the pod.

One thing I've noticed, is it appears that error has now stopped, and the `RandomSchedulingPolicy` seems to have started firing and uploading results. But attempts to start a profiling session from the portal are still resulting in a timeout error.

[2022-05-19 16:53] xiaomi7732 commented on #174
Hey @JacobBovee , do you mind also double check, for users that don't have profiler settings on our backend, are policies like OnDemand working?

I have a **hypothesis** that when there's no settings, the profiler might just not working - b/c everything would be treated as disabled and it overwrites the local settings.

[2022-05-19 17:44] xiaomi7732 commented on #172
Hey @CodedBeard Thanks for the updating and the logs.

_Unfortunately there's no timestamp on the log so I can't tell when_. But here's what I observed:

1. The exception we mentioned in the last conversation was resolved about half way of the logs (line 3397) - combing it with our backend data, I assume you or someone owns your application insights resource at that moment somehow touched the sett

[2022-05-19 18:06] CodedBeard commented on #172
@xiaomi7732 Ah, now you mention it, I did try lowering the memory threshold to below what I knew the pod was using at some point to see if that would cause it to work, but as far as I recall, it was a good hour or so before the first trace fired which is why I completely forgot about it.

That was certainly the first and only time I changed the `Trigger` settings (and I'm the only one who has acce

[2022-05-19 18:47] xiaomi7732 commented on #172
@CodedBeard Thanks for the quick turn-around. I think we have enough information at this point to find out the root cause. Thank you so much for providing the information.

[2022-05-19 19:25] CodedBeard commented on #172
For the branch I just applied it to, no, there are no entries yet.

The original branch fired twice on the `RandomSchedulingPolicy` with memory values of 92% and 89% before the `Profile now` first succedded.

[2022-05-19 20:57] xiaomi7732 commented on #172
Thank you for the confirm!

[2022-05-20 19:17] xiaomi7732 commented on #173
Hey @taspeotis, I looked into the documentation and learned from it. Here's my current understanding:

1. You are doing it correct by setting `<PrivateAssets>analyzers;build</PrivateAssets>` for `Profiler.ASPNETCore` in your shared projects so that the `contentFiles` will flow into the header projects, which reference the shared.

1. As package owner, I don't think we can overwrite the behavior of

[2022-05-20 19:34] xiaomi7732 commented on #173
Tag one more related issue: https://github.com/NuGet/Home/issues/6091

[2022-05-20 20:33] taspeotis commented on #173
Thanks for looking into it. I don't have a good solution. Some thoughts:

* I didn't realise the .nuspec didn't give you the flexibility to edit this. I had assumed there was a way to do it, because when you add a package like EF Core Tools or the ASP.NET Integration Testing their entries in the .csproj set PrivateAssets and ExcludeAssets. This may be a behaviour of NuGet though and not their pack

[2022-05-23 05:03] xiaomi7732 commented on #173
@taspeotis Thank you so much for the suggestions. We probably going to update the document as a short term mitigation for this issue and we will need to look into various ways for shipping the uploader, and having it as embedded resource will be considered :-). Thanks again for the input!

On the record, this could be combined with a related issue to making uploader workable with in self-contained

[2022-05-23 05:08] xiaomi7732 commented on #172
Hey @CodedBeard, while @JacobBovee is actively working on fixing the bug, we are looking forward to hear back from you about the investigation on the other branch, if you are willing to share. And we will let you know when there's a newer package that you could try on for the bug fix.

[2022-05-23 21:58] xiaomi7732 commented on #169
No update for a while. Feel free to reopen if there's further issue found.

[2022-05-23 21:58] #169 closed

[2022-05-25 15:28] xiaomi7732 opened #177 "Update documents and examples to .NET 6"
`.NET 3.1` is close to end of support (12/13/2022) by https://dotnet.microsoft.com/en-us/download/dotnet.
Shall we update the docs and examples to `.NET 6`?

[2022-05-25 15:30] xiaomi7732 commented on #177
1. Home page Get Started
2. Quick start example + container example
    1. Minimal API
    2. Controller API
3. Add deprecating info for all existing examples.

[2022-05-26 15:36] xiaomi7732 commented on #173
Hi @taspeotis What do you think about a document like this: [Reuse Profiler NuGet Package](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/db4a6f81b2a9f082d1020a69b94cdf060000e00a/examples/ReReleaseNuGet/Readme.md).

[2022-05-27 10:10] taspeotis commented on #173
Thank you for writing that page, it describes how to solve the problem for anyone who uses the NuGet package "indirectly" like I do.

You're welcome to close this issue since the behaviour is documented, and my original request ("package should not treat contentfiles as private") I understand is actually to impossible to solve as requested, since the .nuspec doesn't have any provision for it.

[2022-05-27 18:32] xiaomi7732 commented on #173
Thanks for the report @taspeotis. It really helps clear up the use case for short term. In the long run, I think we are opening for adopting ways to make it easier for the users. Constantly seeking for opportunities.

I'll close this issue once the change is merged.

[2022-06-01 19:05] #174 closed

[2022-06-10 01:00] xiaomi7732 commented on #170
Some more info:

After the implementation, the test shows a different result that execution will not happen when:
1. Build on Windows with `UseAppHost` enabled to generate exe.
2. Run the exe (with all execution permissions, I actually tried 777), it won't execute.

Going back to documentation, it looks like it is clearly stated:

More details: https://docs.microsoft.com/en-us/dotnet/core/deployin

[2022-06-10 08:04] CodedBeard commented on #172
Hi @xiaomi7732, sorry for the delay, I've been super busy at work.

Due to being focused on other projects i hadn't checked the other branch in a while, but i've just looked this morning and can see the profiler has since been firing correctly based on cpu/memory usage.

[2022-06-10 15:39] xiaomi7732 commented on #172
@CodedBeard, No worries. I am glad to hear back from you :-) Actually, we released 2.4.0 with the bug fix and you don't need the workaround any further. Feel free to give it a shoot:
https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/

[2022-06-13 09:41] CodedBeard commented on #172
@xiaomi7732 Great, I'll be deploying the updated package to prod this evening, will let you know if it all works.

[2022-06-13 20:19] CodedBeard commented on #172
@xiaomi7732 Have now deployed 2.4 package to production and everything worked first time without having to change the settings, so looks like this can be closed now thanks.

[2022-06-14 00:35] xiaomi7732 commented on #172
Thank you @CodedBeard. I am glad to hear that. Thanks for the prompt replies. With your help, Profiler is better now :-D

[2022-06-14 00:35] #172 closed

[2022-10-03 11:11] Drol opened #181 "Exception when using Lamar"
Exception:

`System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> Lamar.IoC.LamarMissingRegistrationException: No service registrations exist or can be derived for int
   at Lamar.IoC.Scope.GetInstance(Type serviceType)
   at Lamar.IoC

[2022-10-03 11:24] sloncho opened #182 "Random exceptions during application run"
.Net 6 AspNet app - all packages/framework/runtime latest at the moment of writing.
Microsoft.ApplicationInsights.Profiler.AspNetCore 2.4.0
Microsoft.ApplicationInsights.AspNetCore -Version 2.21.0

While running the app in kubernetes, we see the following exception:
[code]

We were not able to reproduce this running the container locally.

[2022-10-03 16:33] xiaomi7732 commented on #182
Thanks for the issue filing. That is bad and weird. @sloncho, could you please help understand how frequently you are seeing the error in your prod environment? Also, what's the scale of your application? Like what's the RPS? What's the memory status? How many replica do you have for your pods? This is the first report on this and please help us understand more of your system.

[2022-10-03 16:41] xiaomi7732 commented on #181
Hi Drol,
Thanks for the report. Is Lamar your IoC container? We don't support Lamar. That said, this is the signature of the constructor of `ProcessInfoCPUMetricsProvider`:
[code]
Generally, if there's a way to satisfy the constructors with the default parameters, it should work. A guess is that Lamar doesn't how to satisfy the delegate of getProcessorCount, and it doesn't leverage the default of

[2022-10-03 17:13] Drol commented on #181
Thanks for the quick reply. Yes we use Lamar for IoC.

For anyone having the same problem. You can solve it by adding this line. Taken from https://github.com/JasperFx/lamar/issues/352
`services.AddTransient((_) => new Func<int>(() => System.Environment.ProcessorCount));`

The author of Lamar says "The real issue here being that the optional constructor argument should be ignored? I'll get around

[2022-10-03 17:15] kalebpederson opened #183 "Allow additional EventPipe/ETW providers to be specified"
I ran a trace of our application and found that only contained events for some of the EventPipe/ETW providers my application consumes. In my case, I was looking for insight around the `Microsoft.IdentityModel.Clients.ActiveDirectory` provider, but I've worked with others in the past that would be equally useful.

Please allow additional ETW/EventPipe providers to be specified to enable capturing o

[2022-10-03 17:22] xiaomi7732 commented on #183
@kalebpederson, thanks for the request - I'll bring this to our team for triaging.

[2022-10-03 21:05] xiaomi7732 commented on #181
Hey @Drol, Thanks for the update. I agree that it is a bad design (and it was coded by me). I will bring this to the team for triage to see if we can prioritize a fix.

[2022-10-04 08:34] Drol commented on #181
Thanks @xiaomi7732 :-)

[2022-10-05 11:02] sloncho commented on #182
@xiaomi7732 Leaving it only at 1 healthcheck call per minute (just returns OK, no processing at all, and no other requests), we can see 5-10 exceptions a day. The scale/mem/cpu data is as follows:
[code]
Minimum replicas: 2
Maximum replicas: 4
HPA: CPU Average Utilization 75%
Memory working set: Average 175 MB, Limit 320 MB

This is not cpu intensive service.

[2022-10-05 23:33] xiaomi7732 commented on #182
@sloncho That is super weird. I need the value of duration to understand why is it thrown. Is it possible for you to run the same code with a newer package (that I am preparing) and turn on the debug logging? That will help troubleshoot.

[2022-10-19 01:25] xiaomi7732 commented on #183
@kalebpederson The feature is released in 2.5.0-beat1, please give it a try: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.5.0-beta1

Instructions here, note: it is different than the private one shared with you.
https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/blob/main/docs/CustomEventPipeProviders.md

Again, thank you for bringing this up

[2022-10-19 10:59] sloncho commented on #182
Sorry for the delay. We found out that increasing the profiler startup delay to 1 minute helps, the exception rate decreases significantly, once in a few days. That caused the delay, we wanted to make sure.

We can attempt that custom package w/ debug output to help investigate the issue.

[2022-10-19 17:27] xiaomi7732 commented on #182
Hey, @sloncho thanks for getting back to us. I have updated the code for troubleshooting this issue and it has been released. Do you mind trying it on the new package (I will put them at the bottom) and posting the logs?
Please turn on the `Debug` log for the category of `Microsoft.ApplicationInsights.Profiler.Core.Sampling`.

For example:

[code]

## References

### Package (2.5.0-beta1)
https://

[2022-10-19 19:50] kalebpederson commented on #183
Thanks @xiaomi7732! Your custom providers documentation says when talking about default providers:

In my mind, the word "need" implies I still have the ability to. I don't have a reason to do so right now, but does the above imply that if I ever wanted to change the keywords used on a default provider I could do so by adding something like the following to my configuration?:

[code]

[2022-10-19 21:18] xiaomi7732 commented on #183
Hey Kaleb, why do you have to ask tough questions? ( :-) kidding).

Yes, you read it correctly, technically, you could overwrite built-in providers.

That said, we chose not to state it explicitly because this is a new feature, and there could be changes. There might also be consequences on the trace validation that we use on the service side that you might stop seeing traces show up in the portal

[2022-10-20 17:47] kalebpederson commented on #183
Haha! You haven't learned how much of troublemaker I am yet?! ;)

This meets my current needs. Rather than guess and gold plate, I'll reach out if I discover a need later.

[2022-10-20 18:11] xiaomi7732 commented on #183
I know you are a trouble seeker and resolver :-)
I'll close this issue for now. Feel free to file new issues if you see anything.

[2022-10-20 18:11] #183 closed

[2022-10-21 11:05] sloncho commented on #182
Hey @xiaomi7732 pls find attached the complete log.
[profiler_logs.zip](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/9838389/profiler_logs.zip)

[2022-10-21 16:05] xiaomi7732 commented on #182
Thanks @sloncho. I checked the logs, I believe I see the data that I want. I'll need some time to dig into the data a bit and I'll get back to you later. Thank you for the help!

[2022-10-21 18:32] xiaomi7732 commented on #182
Hey @sloncho, I want to give you an update. I can occasionally reproduce the issue when it is under concurrent execution. I am wondering why we haven't had any report on this before. I also can't reproduce it consistently yet. But at least, I think I have a grasp. I'll keep looking into it.

Here's the code I used with the telemetry gathered:

[code]

Here's a call stack I captured:

[code]

[2022-10-21 18:57] xiaomi7732 commented on #182
It will take a while for a fix. I'll keep you posted. This issue will be kept open until the issue is addressed.

[2022-10-26 11:43] sloncho commented on #182
It appears now there is much more severe problem. Please see the attached logs.
[profiler_data.zip](https://github.com/microsoft/ApplicationInsights-Profiler-AspNetCore/files/9869072/profiler_data.zip)

[2022-10-26 16:59] xiaomi7732 commented on #182
I'll take a look.

[2022-10-26 19:01] xiaomi7732 commented on #182
Post an update, from the data, it looks like a different issue on the IPC side. See the callstack at the bottom.

* To answer your question first: We can't open source the Profiler agent code at this moment because there are some private dependencies with no license for us to open source. We wish that could be changed too. The can share some code snippets if necessary - it just won't be as good.

[2022-10-26 21:15] xiaomi7732 commented on #182
I also created a k8s cluster to run an example here:
* https://github.com/xiaomi7732/ApplicationInsights-Profiler-AspNetCore/tree/dev/saars/K8sWithProbes/examples/K8sWithProbes

So far, profiler 2.5.0-beta2 works for me. I am keeping it running in the cluster. Let me know if you could see anything that I miss. Specifically, in [k8s.yaml](https://github.com/xiaomi7732/ApplicationInsights-Profiler-A

[2022-10-27 17:33] xiaomi7732 commented on #182
Update: 28 iterations/profiler sessions in the last 24 hours ish with configured readiness and liveness probes, and I am not seeing failures.

[2022-11-02 17:20] xiaomi7732 commented on #182
Hi @sloncho any updates from your side, are you still seeing the errors?

[2022-11-03 10:41] sloncho commented on #182
@xiaomi7732 We haven't seen any exceptions since. I guess that fixes it. Any timeline on official package?

[2022-11-09 20:44] xiaomi7732 commented on #182
Thanks for the confirm. I'll post it when the stable release is there.

[2022-11-12 05:12] xiaomi7732 commented on #182
Hi @sloncho, please find the new package here: https://www.nuget.org/packages/Microsoft.ApplicationInsights.Profiler.AspNetCore/2.5.0

[2022-11-15 15:44] sloncho commented on #182
@xiaomi7732 The final 2.5.0 caused all our integration tests to break. This problem does not exists with 2.5.0-beta2 package. We use WebApplicationFactory to create test instances of the API in order to run tests against it. They fail with:
[code]

This happens when tests are ran in parallel, if ran one by one, the problem does not exist. We do not have any global/static state, and we create a new

[2022-11-15 17:46] xiaomi7732 opened #186 "Enable Profiler in WebApplicationFactory cause DI error"
This is reported in #182. Since it looks like a different bug, I moved it here.

Basically, [sloncho](https://github.com/sloncho) reported that Enabling Profiler in WebApplicationFactory scenario breaks the DI graph due to lack of process id.

Here's the attached callstack:

[code]

This is initially found on 2.5.0. I have a hunch that it is due to the fix of #140 and #167. I'll investigate.

[2022-11-15 17:48] xiaomi7732 commented on #182
Thanks for the report. It seems like a different issue. Duplicate to #186. Close this one.

[2022-11-15 17:48] #182 closed

[2022-11-15 18:49] xiaomi7732 commented on #186
Hi [sloncho](https://github.com/sloncho), thanks for reporting the error.
I can't reproduce the issue on my end. Need more info for troubleshooting. To help me understand the scenario, do you mind taking a look at this repository:

https://github.com/xiaomi7732/Profiler-WebApplicationFactory-tests-troubleshooting

and help me understand the difference between that project and yours and why there i

[2022-11-17 21:01] xiaomi7732 opened #187 "Add RepositoryUrl to NuSpecs so that package could be pushed into github NuGet Repo"
There has no repo url settings so far. This prevent packages being released to github package registry.

[2022-11-17 21:27] vigneshmsft opened #188 "Application Insights Profiler causing high memory usage"
I have an AspNetCore (.NET 6) application running on Azure App Services and decided to enable application insights and profiler in our production environment this week as we were preparing for a larger rollout of our application.
The application is packed as a docker container and runs as a linux container web app in App Services.
App Services plan is `P2V2`.

I noticed the increase in CPU and mem

[2022-11-18 00:07] xiaomi7732 commented on #188
Hi @vigneshmsft Our memory sampling shows a level of usage increasing but not 10x as much:

![image](https://user-images.githubusercontent.com/3674549/202586110-0fad52a8-2bad-46de-a468-030f6f819e7b.png)
(WorkingSet in MB)

When you evaluate the memory usage, was it the usage for the whole app service plan? How many application instances were there on the plan? Were they running profiling at the sa

[2022-11-18 12:23] vigneshmsft commented on #188
there is only one app on the plan, it was running 2 instances at the time, I also have a deployment lot for the production instance.

[2022-11-18 18:49] vigneshmsft commented on #188
the attached image was the usage metric for the app and not the app service as whole.